
<div class="width_75 phablet_width_90 tablet_width_80 centred mobile_width_95">
	<img src="/images/horror_icons/car-collision.svg" class="padding_top_large w50px" />
	<p class="padding_top_small font_c width_50 sans_subhead centred mob_font_c mobile_width_90">Avoid expensive mistakes! Don't buy your invitations until you've read this&hellip;</p>

	<p class="padding_top_medium sans font_ee width_66 phablet_width_80 table_width_80 centred average_line_spacing mobile_width_90">
		...empower yourself with knowledge by learning from the embarassing mistakes made by others! Download <span class="slant">The Invitation Horror Story Book</span> completely free now and discover:</p>


	<img src="/images/homepage/horror_book.jpg" style="max-width:425px;" class="mobile_width_95 centred padding_top_medium" />
	

	<div class="padding_top_medium width_50 tablet_width_70 mobile_width_80 sans font_ee average_line_spacing centred">
			<img src="/images/horror_icons/black-evil-cat.svg" class="w35px opacity4" />
			<span class="slant">Three important reasons</span> why you must never order your stationery without asking for this first
	</div>


	<div class="padding_top_medium  width_50 tablet_width_70  mobile_width_80 sans font_ee average_line_spacing centred">
			<img src="/images/horror_icons/creepy-ghost.svg" class="padding_top_small w35px opacity4" />
		In our online age, <span class="slant">discover the one thing  brides aren't doing</span> any more when it comes to choosing their invitations and why they are living to regret it
	</div>

	<div class="padding_top_medium  width_50 tablet_width_70  mobile_width_80 sans font_ee average_line_spacing centred">
			<img src="/images/horror_icons/ghost.svg" class="padding_top_small w35px opacity4" />
		The one thing no one thinks to ask their stationery company: <span class="slant">this can spoil the most beautiful invitations</span> if you don't check first
	</div>


	<div class="padding_top_medium width_50 tablet_width_70 mobile_width_80 sans font_ee average_line_spacing centred">
			<img src="/images/horror_icons/halloween.svg" class="padding_top_smal w35px opacity4" />
		What you won't know about until your guests tell you: <span class="slant">don't hear it from your guests first,</span> avoid this happening to you 
	</div>

</div>



<form id="download_form" class="padding_bottom_large pure-form pure-form-stacked tablet_width_70  width_33 phablet_width_70 mobile_width_95 centred">
	<fieldset>
		<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="color:#999" id="error_download_name">
			<img src="/images/furniture/danger.svg"class="w25px opacity4" /> 
			Please enter your name
		</p>


		<input type="text" id="download_name" name="download_name" placeholder="Name" autocomplete></input>
		<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="color:#999" id="error_download_email"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your email</p>

		<input id="download_email" type="email" name="download_email" placeholder="Email address" autocomplete></input>

	</fieldset>

	<button type="submit" class="width_90 mobile_full_width centred pure-button pure-button-primary margin_bottom">Download Free Now! 
						
	<img src="/images/furniture/check.svg" id="download_form_check" style="display:none;width:80px;padding-top:1em;padding-bottom:1em;" />
	<img src="/images/furniture/ellipsis.svg" style="display:none;" id="form_download_spinner"/></button>

</form>


<div class="padding_top_large padding_bottom_large">
	<div class="top_solid full_width"></div>
	<img src="/images/furniture/flourish.svg" class="flourish" />
</div>