<div style="padding-top:3em;" class="width_75 centred mob_full_width">
	
	<img src="/images/horror_icons/car-collision.svg" class="padding_top_large w60px" />
	
	<p class="padding_top_small font_vlarge junge width_50 sans_subhead centred mob_width_95">Avoid expensive mistakes!</p>
	
	<p class="padding_top_small font_large junge width_70 sans_subhead centred mob_full_width">Don&rsquo;t buy your wedding invitations until you&rsquo;ve read this&hellip;</p>
	
	<p class="padding_top_large width_50 centred mobile_width_95">
		...empower yourself with knowledge by learning from the embarassing mistakes made by others! Download <span class="slant">The Invitation Horror Story Book</span> completely free now and discover:</p>


	<img src="/images/homepage/horror_book.jpg" style="max-width:550px;" class="mobile_width_95 width_80 centred padding_top_medium" />
	

	<p class="padding_top_medium width_30 centred">
			<img src="/images/horror_icons/black-evil-cat.svg" class="w40px opacity_4" />
			<span class="slant">Three important reasons</span> why you must never order your stationery without asking for this first
	</p>


	<p class="padding_top_medium width_30 centred">
			<img src="/images/horror_icons/creepy-ghost.svg" class="w40px opacity_4" />
		In our online age, <span class="slant">discover the one thing  brides aren&rsquo;t doing</span> any more when it comes to choosing their invitations and why they are living to regret it
	</p>

	<p class="padding_top_medium width_30 centred">
			<img src="/images/horror_icons/ghost.svg"  class="w40px opacity_4" />
		The one thing no one thinks to ask their stationery company: <span class="slant">this can spoil the most beautiful invitations</span> if you don&rsquo;t check first
	</p>


	<p class="padding_top_medium width_30 centred">
			<img src="/images/horror_icons/halloween.svg"  class="w40px opacity_4" />
		What you won&rsquo;t know about until your guests tell you: <span class="slant">don&rsquo;t hear it from your guests first,</span> avoid this happening to you 
	</p>

</div>



<form id="download_form" class="padding_bottom_large  width_30  mobile_width_95 centred">
	<fieldset>
		<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="color:#999" id="error_download_name">
			<img src="/images/furniture/danger.svg" class="w25px opacity4" /> 
			Please enter your name
		</p>


		<input type="text" id="download_name" name="download_name" placeholder="Name" autocomplete></input>
		<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="color:#999" id="error_download_email"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your email</p>

		<input id="download_email" type="email" name="download_email" placeholder="Email address" autocomplete></input>

	</fieldset>

	<button type="submit" class="width_90 mobile_full_width centred margin_bottom">Download Free Now! 
						
	<img src="/images/furniture/check.svg" id="download_form_check" style="display:none;width:80px;padding-top:1em;padding-bottom:1em;" />
	<img src="/images/furniture/ellipsis.svg" style="display:none;" id="form_download_spinner"/></button>

</form>


<script>
	
	$('#download_form').submit(function(e) {
		e.preventDefault();
		$('#error_download_name').addClass("hidden");
		$('#error_download_email').addClass("hidden");
	
		var message = {
			name: $('#download_name').val(),
			email: $('#download_email').val(),
			template: 'download'
		}
	
		if (!message.name) {
			$('#error_download_name').removeClass("hidden")
			$('#download_name').css("border-color", "#81BF08").css("border-width", "2px")
		}
	
		if (!message.email) {
			$('#error_download_email').removeClass("hidden")
			$('#download_email').css("border-color", "#81BF08").css("border-width", "2px")
		}
	
		if (message.name && message.email) {
	
			$('#form_download_spinner').show();
			$.ajax({
				type: "POST",
				url: "/emails",
				data: message,
				success: function(data) {
					$('#form_download_spinner').hide();
					$('#post_text').hide();
					
					$('#download_icon').hide();
					$('#download_form_check').show();
				}
			});
		}
	})
</script>