<footer class="clear top_dotted" style="display:flex;flow:row;">
	
	<div id="footer_logo" class="width_20 left">
		<img src="/images/logo/casamiento_black.svg" style="width:100px;display:block;" class="left" />
	</div>
	
	<div id="footer_contact" style="float:left;width:25%;margin-left:10%;">
		<p class="sans font_f no_text_decoration">e <a href="mailto:david@dizzy.co.uk">david@casamiento.co.uk</a></p>
		<p class="sans font_f no_text_decoration">t 01983 522971</p>
	</div>
	
	<div id="footer_dreams" style="width:20%;float:left;margin-left:10%;">
		<img src="/images/logo/drms.svg" style="width:135px;float:left;display:block;" />
	</div>
	
	<div id="footer_privacy" style="float:right;width:9%;">
		<a class="sans font_f no_text_decoration" style="font-size:0.75em;" href="/privacy.html">Privacy Policy</a>
	</div>
	
</footer>