<footer class="clear top_dotted">
	
	<div class="half_padding_vertical" id="footer_logo">
		<a href="/"><img src="/images/logo/casamiento_black.svg"  style="width:120px;"/></a>
	</div>
	
	<div class="half_padding_vertical" id="footer_contact">
		<p class="sans font_f">e <a href="mailto:david@dizzy.co.uk" class="bottom_dotted hover_1_underline">david@casamiento.co.uk</a></p>
		<p class="sans font_f">t 01983 522971</p>
	</div>
	
	<div class="half_padding_vertical" id="footer_dreams" >
		<img src="/images/logo/drms.svg" style="width:140px;"  />
	</div>
	
	<div class="half_padding_vertical" id="footer_privacy" >
		<a class="sans font_g bottom_dotted hover_1_underline" href="/privacy.html">Privacy Policy</a>
	</div>
	
</footer>