<footer class="clear top_dotted">
	
	<div class="half_padding_vertical" id="footer_logo">
		<img src="/images/logo/casamiento_black.svg"  style="width:120px;"/>
	</div>
	
	<div class="half_padding_vertical" id="footer_contact">
		<p class="sans font_f no_text_decoration">e <a href="mailto:david@dizzy.co.uk">david@casamiento.co.uk</a></p>
		<p class="sans font_f no_text_decoration">t 01983 522971</p>
	</div>
	
	<div class="half_padding_vertical" id="footer_dreams" >
		<img src="/images/logo/drms.svg" style="width:140px;"  />
	</div>
	
	<div class="half_padding_vertical" id="footer_privacy" >
		<a class="sans font_g no_text_decoration" href="/privacy.html">Privacy Policy</a>
	</div>
	
</footer>