<div class="flexbox padding_top_large">
	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/diamond.svg" class="small_icon centred">
		<span class="slant">Sample embellishments</span><br/> (bows, buckles and ribbons) for you to compare and contrast
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/colours.svg" class="small_icon centred">
		<span class="slant">Swatches of our card textures</span><br/>(hammered, linen, pearlescent) for you to see and touch 
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/playing-cards.svg" class="small_icon centred">
		<span class="slant">Three beautiful invitation suites</span><br/> (card, envelope, rsvp, info sheet and embellishments) from our exclusive collections
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/paint-board-and-brush.svg" class="small_icon centred">
		<span class="slant">Printed colour chart</span><br/> so you can see what colours look like accurately, helping you find your exact colour match; <span style="font-style:italic;">and</span>
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/book.svg" class="small_icon centred">
		<span class="slant">Luxury catalogue</span><br/> for you to browse (nothing quite beats relaxing and flicking through a paper catalogue, plus it'll look good on your coffee table!)
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/question.svg" class="small_icon centred">
		<span class="slant">A little surprise</span><br/> we also put a little surprise in every sample box&mdash;you'll have to get one to find out what it is!
	</div>
</div>

<p style="clear:both;" class="font_e subhead width_80">
	Just enter your name and address now to get this parcel of perfection flying through your letterbox within 24 hours&hellip;
</p>

<form class="pure-form form-aligned" name="sample" id="form_sample">
	<fieldset>
		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="font-weight:bold;color:#999" id="error_name"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your name</p>
			<input type="text" autocomplete="name" id="name" name="name" placeholder="Your name"></input>
		</div>

		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="font-weight:bold;color:#999" id="error_email"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your email</p>
			<input type="email" id="email" autocomplete="email" name="email" placeholder="Email"></input>
		</div>

		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="font-weight:bold;color:#999" id="error_address"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your house number or name</p>
			<input type="text" autocomplete="shipping street-address" id="address" name="address" placeholder="House number or name">
			</input>
		</div>

		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="font-weight:bold;color:#999" id="error_postcode"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your postcode</p>
			<input type="text" id="postcode" name="postcode" automcomplete="shipping postal-code" placeholder="Your postcode"></input>
		</div>
	</fieldset>

	<button type="submit" id="get_sample" class="pure-button pure-button-primary">
	<span id="post_text">Post my sample box now!</span>
	<img src="/images/furniture/check.svg" id="form_check" style="display:none;width:80px;padding-top:1em;padding-bottom:1em;" />
	<img src="/images/furniture/PayPal.svg" id="paypal_logo" style="display:none;width:140px;padding-top:12px;opacity:0.9" />
	<img src="/images/furniture/ellipsis.svg" id="form_sample_spinner"/>
	</button>

</form>
