<a href="/"><img src="/images/logo/casamiento_black.svg" class="bring_to_front" id="casamiento_logo" /></a>

<div id="browse_container" class="bring_to_front">
	<a href="/products"><img src="/images/furniture/browse.svg" id="book" /></a>
	<a href="/products" class="sans no_text_decoration">BROWSE DESIGNS</a>
</div>

<img src="/images/logo/drms.svg" class="bring_to_front" id="dreams_slogan" />