<div class="top_dotted margin_top_medium bottom_dotted width_80 centred padding_top_larger padding_bottom_large phablet_full_width mob_full_width">

	
<img srcset="/images/homepage/chloe_450.jpg 450w,
            /images/homepage/chloe_350.jpg 350w,
             /images/homepage/chloe_250.jpg 250w"
     sizes="(max-width: 800px) 48vw,17vw"
     src="images/homepage/chloe_450.jpg" alt="Chloé's Wedding Photo" class="width_40 mob_width_50 padding_bottom_medium" />
     
<svg  viewBox="-0.1 -0.05 30 27"  class="w50px padding_top_large">
<path d="M0,17.7C0,8.2,8.7,1.9,10.5,0.8C11,0.5,11.6,0,12.3,0c0.7,0,1,0.3,1,0.8c0,0.5,0,0.7-0.8,1.3c-2.1,2-6.3,6.4-6.3,11.3
	c0,1.3,0.8,2.5,1.5,2.8c0.9,0.4,5.1,1.4,5.1,5.8c0,2.3-1.8,4.3-5,4.3C4.7,26.3,0,23.3,0,17.7z M16.4,17.7c0-9.5,8.7-15.8,10.5-16.9
	C27.4,0.5,28,0,28.8,0c0.7,0,1,0.3,1,0.8c0,0.5,0,0.7-0.8,1.3c-2.2,2-6.4,6.4-6.4,11.3c0,1.3,0.8,2.5,1.5,2.8
	c0.9,0.4,5.2,1.4,5.2,5.8c0,2.3-1.9,4.3-5.1,4.3C21.2,26.3,16.4,23.3,16.4,17.7z"/>
</svg>

	<p class="triple_line_spacing font_normal centred phablet_width_90">
		It&rsquo;s all the little touches, the envelopes look so special! And the way the vellum is imprinted with your own design&hellip; it just feels and looks so luxurious and classy: my guests were all really impressed as my stationery really did stand
		out from the crowd. Plus they didn&rsquo;t break the bank like I thought they would!”
	</p>

	<p class="centred cinzel font_medium padding_top_medium">
		&mdash;	
		<a href="http://www.facebook.com/chlo.campbell" class="bottom_dotted hover_1_underline">
			Chloé Campbell
		</a>
		<a href="http://www.facebook.com/chlo.campbell">
			<svg viewBox="0 0 112.196 112.196" class="w25px inline element_hover">
				<circle style="fill:#3B5998;" cx="56.098" cy="56.098" r="56.098"/>
				<path style="fill:#FFFFFF;" d="M70.201,58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34
		c0-5.964,2.833-15.303,15.301-15.303L71.56,21.81v12.51h-8.151c-1.337,0-3.217,0.668-3.217,3.513v7.585h11.334L70.201,58.294z"/>

			</svg>
		</a>
	</p>

	<p class="centred junge font_normal padding_top_small">
		married January 2016
	</p>

</div>
