<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="form_sample" class="pure-form form-aligned">

  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="business" value="paypal@dizzy.co.uk">

  <!-- Specify details about the item that buyers will purchase. -->
  <input type="hidden" name="item_name" value="<%= chosen_sample %>" id="paypal_item">
  <input type="hidden" name="amount" value="<%- sample %>">
  <input type="hidden" name="currency_code" value="GBP">

  <button type="submit" id="paypal_button" style="max-width:300px;margin:0 auto;" class="width_70 margin_top_medium pure-button pure-button-primary  center centred ">
    <img src="/images/furniture/PayPal.svg" id="paypal_logo" style="width:140px;" class="center centred" />
  </button>

</form>
