<div class="flexbox padding_top_large">
	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/diamond.svg" class="small_icon centred">
		<span class="slant">Sample embellishments</span><br/> (bows, buckles and ribbons) for you to compare and contrast
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/colours.svg" class="small_icon centred">
		<span class="slant">Swatches of our card textures</span><br/>(hammered, linen, laid, kraft and pearlescent) for you to see and touch 
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/playing-cards.svg" class="small_icon centred">
		<span class="slant">A beautiful invitation suite</span><br/> (card, envelope, rsvp, info sheet and embellishments) from our exclusive collection (choose which one below!)
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/paint-board-and-brush.svg" class="small_icon centred">
		<span class="slant">Printed colour chart</span><br/> so you can see what colours look like accurately, helping you find your exact colour match; <span style="font-style:italic;">and</span>
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/book.svg" class="small_icon centred">
		<span class="slant">Luxury catalogue</span><br/> for you to browse (nothing quite beats relaxing and flicking through a paper catalogue, plus it'll look good on your coffee table!)
	</div>

	<div class="flexbox_item bottom_dotted sans font_ee padding_bottom_medium padding_top_medium average_line_spacing centred">
		<img src="/images/homepage/bullets/question.svg" class="small_icon centred">
		<span class="slant">A little surprise</span><br/> we also put a little surprise in every sample box&mdash;you'll have to get one to find out what it is!
	</div>
</div>