<div class="margin_top_xlarge margin_bottom_xlarge padding_bottom_xlarge padding_top_xlarge top_solid bottom_solid width_80 centred mobile_full_width">

	<img src="/images/homepage/chloe.jpg" class="right clear_mobile width_30 mobile_width_40" />

	<img src="/images/homepage/leftquote.svg" class="w40px padding_bottom_medium" />

	<p class="triple_line_spacing font_f centred sans mobile_width_80 text_left">
		It&rsquo;s all the little touches, the envelopes look so special! And the way the vellum is imprinted with your own design&hellip; it just feels and looks so luxurious and classy: my guests were all really impressed as my stationery really did stand
		out from the crowd. Plus they didn&rsquo;t break the bank like I thought they would!”
	</p>

	<p class="font_d mob_font_d average_line_spacing serif padding_top_medium">
		&mdash;	
		<a href="http://www.facebook.com/chlo.campbell" class="bottom_dotted hover_1_underline">
			Chloé Campbell
		</a>
		<a href="http://www.facebook.com/chlo.campbell">
			<img src="/images/social_media_buttons/facebook.svg" class="w25px inline element_hover">
		</a>
	</p>

	<p class="sans_subhead font_f padding_top_small">
		married January 2016
	</p>

</div>
