<div class="junge font_medium text_left">
	<img src="/images/<%= bullets[0] %>.svg" class="w20px inline"/>
	Enter your details&hellip;
</div>

<form class="padding_top_medium" name="sample" id="form_sample" >
	<div class="width_80 centred">
		
		<fieldset>
			
			
			<p class="junge font_normal padding_top_small centred hidden error opacity_4" id="error_name">
			<img src="/images/furniture/danger.svg" class="w25px" />
				Please enter your full name
			</p>
			<input type="text" autocomplete="name" id="name" name="name" placeholder="Your name"></input>



			<p class="junge font_normal padding_top_small centred hidden error opacity_4" id="error_email">
				<img src="/images/furniture/danger.svg"class="w25px" />
				Please enter your email
			</p>
			
			<input type="email" id="email" autocomplete="email" name="email" placeholder="Your email"></input>
	
			<p class="junge font_normal padding_top_small centred hidden error opacity_4" id="error_address">
				<img src="/images/furniture/danger.svg" class="w25px" /> Please enter your house number or name</p>
			<input type="text" autocomplete="shipping street-address" id="address" name="address"  placeholder="House number or name"></input>
	

			<p class="junge font_normal padding_top_small centred hidden error opacity_4" id="error_postcode">
				<img src="/images/furniture/danger.svg" class="w25px" /> Please enter your postcode
			</p>
			<input type="text" id="postcode" name="postcode" autocomplete="shipping postal-code"  placeholder="Your postcode"></input>
			
			<p class="junge font_normal padding_top_small centred hidden error opacity_4" id="error_guests">
				<img src="/images/furniture/danger.svg" class="w25px" /> Please enter approximate number of guests</p>
			<input type="text" id="guests" name="guests"  placeholder="Estimated number of guests*"></input>
		
		</fieldset>
	</div>
		<p class="font_small opacity_4 text_right centred" style="padding:0;font-size:1em;margin:0">*Helps us give you offers within your budget!</p>
	
	<input type="hidden" name="which_sample" id="which_sample" value="<%= chosen_sample %>" />

	<div class="junge font_medium text_left padding_bottom_medium padding_top_medium">
		<img src="/images/<%= bullets[1] %>.svg" class="w20px inline" style="vertical-align:middle;" />
		Press the button!
	</div>


	<button type="submit" class="bg-green junge white font_big" id="get_sample">

		<span id="post_text">Post my sample box now!</span>
			<svg viewBox="0 9.722 100 80.555" id="form_check" class="hidden padding_top_small padding_bottom_small" style="width:80px;" >
				<polygon fill="#FFFFFF" points="84.719,9.722 34.719,59.712 15.282,40.282 0,55.563 34.719,90.277 100,25.005 "/>
			</svg>

		<img src="/images/furniture/ellipsis.svg" id="form_sample_spinner" class="hidden"/>
		
	</button>
	
</form>