
		<div style="vertical-align:middle">
		<img src="/images/homepage/david.jpg" class="w150px" style="display:inline;vertical-align:middle;"> 
		<a href="http://www.facebook.com/davidos.80">	<img src="/images/social_media_buttons/facebook.svg" class="w25px inline element_hover"></a></div>

<h2 class="text_center width_90 padding_bottom_none average_line_spacing subhead font_c mob_font_c">
Hi... I'm David:</h2>

	<h2 class="text_center width_80 padding_bottom_medium average_line_spacing subhead font_d mob_font_d mobile_width_90">	When I'm not <a class="boxed_link" href="http://www.facebook.com/davidos.80/videos/1051770804901748">singing and playing the piano <img src="/images/exit-top-right.svg" class="inline w15px opacity7" /></a>,
	I'm busy working on my other passion: making beautiful invitations for you&hellip;
</h2>


<p class="body"> I love the fact that when you buy your stationery from me, I'm not only contributing to your dream, but you're helping me with mine.</p>

<p class="body"> I'm a bit of a perfectionist, but that's good for you: if colours don't match exactly, I'm not happy. If anything is even slightly off-center, it drives me mad.</p>
<p class="body">If there's the slightest smudge, I need to make a reprint.</p>
<p class="body">You're in good hands!</p>

<p class="body">But actions speak louder than words, and I've talked enough about how beautiful our invitations are. </p>

<p class="body">I know that the best way for you to judge them is to actually hold them in your hands...</p>


	<img src="/images/product/samplebox.png" style="width:95%;padding-top:2em;max-width:350px;" />

<h2 class="subhead centred width_80 mob_font_d mobile_width_90">&hellip;so to help you decide, I've created a sample box full of goodies so you can see for yourself just how gorgeous our invitations are:</h2>



