<div class="sans_subhead font_ee text_left italic padding_bottom_medium padding_top_large">
	<img src="/images/<%= bullets[0] %>.svg" class="w20px inline" style="vertical-align:middle;" />
	Enter your name and address&hellip;
</div>

<form class="pure-form form-aligned padding_top_medium" name="sample" id="form_sample" >
	<div class="width_80 centred">
		<fieldset>
			<div class="pure-control-group">
				<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden error" style="color:#999" id="error_name">
				<img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" />
					Please enter your name
				</p>
				<input type="text" autocomplete="name" id="name" name="name" placeholder="Your name"></input>
			</div>

			<div class="pure-control-group">
				<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden error" style="color:#999" id="error_email">
					<img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your email
				</p>
				<input type="email" id="email" autocomplete="email" name="email" placeholder="Email"></input>
			</div>

			<div class="pure-control-group">
				<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden error" style="color:#999" id="error_address"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your house number or name</p>
				<input type="text" autocomplete="shipping street-address" id="address" name="address"  placeholder="House number or name">
				</input>
			</div>

			<div class="pure-control-group">
				<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden error" style="color:#999" id="error_postcode">
					<img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your postcode
				</p>
				<input type="text" id="postcode" name="postcode" autocomplete="shipping postal-code" placeholder="Your postcode"></input>
			</div>
		</fieldset>
	</div>
	
	
<!-- HIDDEN FIELD -->
	<input type="hidden" name="page" id="page" value="<%- page %>"></input>
	<input type="hidden" name="which_sample" id="which_sample" value="<%= chosen_sample %>" />

	<div class="sans_subhead font_ee text_left padding_bottom_medium padding_top_large margin_bottom_2em">
		<img src="/images/<%= bullets[1] %>.svg" class="w20px inline" style="vertical-align:middle;" />
		Press the button!
	</div>


	<button type="submit" id="get_sample" class="centred pure-button pure-button-primary">

		<span id="post_text">Post my sample box now!</span>

		<img src="/images/furniture/check.svg" id="form_check" style="display:none;width:80px;padding-top:1em;padding-bottom:1em;" />

		<img src="/images/furniture/ellipsis.svg" id="form_sample_spinner"/>
	</button>
</form>
