
		
		<img src="/images/homepage/david.jpg" class="david_photo ">

<h2 class="text_center width_90 padding_bottom_none average_line_spacing subhead font_c">
Hi... I'm David:</h2>
	
	<h2 class="text_center width_80 padding_bottom_medium average_line_spacing subhead font_d">	When I'm not <a class="grey_background_link" style="background-color:white;padding:2px;border:1px dashed grey;" href="http://www.facebook.com/davidos.80/videos/1051770804901748">singing and playing the piano <img src="/images/exit-top-right.svg" class="inline" style="opacity:0.7;width:15px;" /></a>,
	I'm busy working on my other passion: making beautiful invitations for you&hellip;
</h2>

		
<p class="body"> I love the fact that when you buy your stationery from me, I'm not only contributing to your dream, but you're helping me with mine.</p>

<p class="body"> I'm a bit of a perfectionist, but that's good for you: if colours don't match exactly, I'm not happy. If anything is even slightly off-center, it drives me mad. If there's the slightest smudge, I need to make a reprint. You're in good hands. </p>

<p class="body">But actions speak louder than words, and I've talked enough about how beautiful our invitations are. </p>

<p class="body">I know that the best way for you to judge them is to actually hold them in your hands...</p>

<img src="/images/invitations/birds-of-paradise-diamante-spirals/sample.jpg" id="sample_box" />

<h2 class="subhead centred width_50">&hellip;so for a limited time I'm giving away free sample boxes, usually worth £9.99, containing:</h2>

<div class="left width_50 mobile_full_width">
	<ul  class="centred width_90">
		<img src="/images/homepage/bullets/diamond.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">&mdash;Sample embellishments&mdash;</span><br/>
			(bows, buckles and ribbons) for you to compare and contrast
		</li>
	</ul>
</div>

<div class="right width_50 mobile_full_width">
	<ul class="centred width_90"><img src="/images/homepage/bullets/colours.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">&mdash;Swatches of our card textures&mdash;</span><br/> for you to see and touch
		</li>
	</ul>
</div>

<div class="left clear width_50 mobile_full_width">
	<ul class="centred width_90">
		<img src="/images/homepage/bullets/playing-cards.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">&mdash;Three beautiful invitation suites&mdash;</span><br/>
			(card, envelope, rsvp, info sheet and embellishments) from our exclusive collections
		</li>
	</ul>
</div>

<div class="right width_50 mobile_full_width">
	<ul class="centred width_90">
		<img src="/images/homepage/bullets/paint-board-and-brush.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">&mdash;Printed colour chart&mdash;</span><br/>
			so you can see what colours look like accurately, helping you find your exact colour match; <span style="font-style:italic;">and</span>
		</li>
	</ul>
</div>

<div class="left clear width_50 mobile_full_width ">
	<ul class="centred width_80">
		<img src="/images/homepage/bullets/book.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">&mdash;Luxury catalogue&mdash;</span><br/>
			for you to browse (nothing quite beats relaxing and flicking through a paper catalogue, plus it'll look good on your coffee table!)
		</li>
	</ul>
</div>	

<div class="width_50 right mobile_full_width">
	<ul class="centred width_90">
		<img src="/images/homepage/bullets/question.svg" class="small_icon centred">
		<li>
		<span style="font-weight:400">&mdash;A little surprise&mdash;</span><br/>
		we also put a little surprise in every sample box&mdash; you'll have to get one to find out what it is!
	</ul>
</div>	

<p style="clear:both;" class="font_e subhead width_80">
	Just enter your name and address now to get this parcel of perfection flying through your letterbox within 24 hours&hellip;
</p>


<!-- FORM --->


<form class="pure-form form-aligned" name="sample" id="form_sample">
	<fieldset>
		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_small text_left slant hidden" id="error_name">Please enter your name</p>
			<input type="text" autocomplete="name" id="name"  name="name" placeholder="Your name"></input>
		</div>

		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_small text_left slant hidden" id="error_email">Please enter your email address</p>
			<input type="email" id="email" autocomplete="email" name="email" placeholder="Email"></input>
		</div>

		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_small slant text_left hidden" id="error_address">Please enter the first line of your address</p>
			<input type="text" autocomplete="shipping street-address" id="address" name="address" placeholder="House number or name">
			</input>
		</div>

		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing  padding_top_small slant text_left hidden" id="error_postcode">Please enter your postcode</p>
			<input type="text" id="postcode" name="postcode" automcomplete="shipping postal-code" placeholder="Your postcode"></input>
		</div>
	</fieldset>

	<button type="submit" id="get_sample" class="pure-button pure-button-primary">
	Post my sample box now!
	<img src="/images/furniture/PayPal.svg" id="paypal_logo" style="display:none;width:140px;padding-top:12px;opacity:0.9" />
	<img src="/images/furniture/ellipsis.svg" id="form_sample_spinner"/>
	</button>

</form>