
<form class="pure-form form-aligned" name="sample" id="form_sample" >
<div class="width_80 centred">
	<fieldset>
		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="color:#999" id="error_name"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your name</p>
			<input type="text" autocomplete="name" id="name" name="name" placeholder="Your name"></input>
		</div>

		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="color:#999" id="error_email"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your email</p>
			<input type="email" id="email" autocomplete="email" name="email" placeholder="Email"></input>
		</div>

		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="color:#999" id="error_address"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your house number or name</p>
			<input type="text" autocomplete="shipping street-address" id="address" name="address"  placeholder="House number or name">
			</input>
		</div>

		<div class="pure-control-group">
			<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden" style="color:#999" id="error_postcode"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your postcode</p>
			<input type="text" id="postcode" name="postcode" autocomplete="shipping postal-code" placeholder="Your postcode"></input>
		</div>
	</fieldset>
</div><input type="hidden" name="origin" value="<%- page %>"></input>
	<button type="submit" id="get_sample" class=" margin_top_2em centred pure-button pure-button-primary">
	<span id="post_text">Post my sample box now!</span>
	<img src="/images/furniture/check.svg" id="form_check" style="display:none;width:80px;padding-top:1em;padding-bottom:1em;" />
	<img src="/images/furniture/PayPal.svg" id="paypal_logo" style="display:none;width:140px;padding-top:12px;opacity:0.9" />
	<img src="/images/furniture/ellipsis.svg" id="form_sample_spinner"/>
	</button>

</form>

<!-- Google Code for Free sample box request Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<script type="text/javascript">
  /* <![CDATA[ */
  goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 955776693;
    w.google_conversion_label = "Pn9oCPXQ9G4Qtf3fxwM";
    w.google_remarketing_only = false;
  }
  // DO NOT CHANGE THE CODE BELOW.
  goog_report_conversion = function(url) {
    goog_snippet_vars();
    window.google_conversion_format = "3";
    var opt = new Object();
    opt.onload_callback = function() {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  }
  var conv_handler = window['google_trackConversion'];
  if (typeof(conv_handler) == 'function') {
    conv_handler(opt);
  }
}
/* ]]> */
</script>
<script type="text/javascript"
  src="//www.googleadservices.com/pagead/conversion_async.js">
</script>
