<script>
	$(function() {
		// Javascript for playing responsive video
		var videoView = Backbone.View.extend({
			isMobile: function() {
				if($('body').width() < 1200) {
					return "mobile"
				} 
			},
			initialize: function() {
					
				var that = this;
				
				this.render();
				this.$video = this.$('video');
				this.dom_video = this.$('video')[0];
				
				this.$video.on("playing", function(e) {
        			 that.$el.trigger('playing');
				})
				this.$video.on("pause", function(e) {
        			 that.$el.trigger('pause');
				})
				
				$(window).scroll(function() {
			    	if (that.$video.is(":in-viewport") && that.dom_video.paused) {
						that.dom_video.play();
			    } else if (!that.$video.is(":in-viewport") && !that.dom_video.paused) {
			    	that.dom_video.pause();
			    }
			})
		
			},
			events: {
				"click .video_play": "playVideo",
				"click .video_pause": "pauseVideo",
				"playing": "hidePlay",
				"pause": "hidePause"
			},
			playVideo: function() {
				this.dom_video.play();
			},
			pauseVideo: function() {
				this.dom_video.pause();	
			},
			hidePlay: function() {
				this.$('.video_play').hide();
				this.$('.video_pause').show();
			},
			hidePause: function() {
				this.$('.video_pause').hide();
				this.$('.video_play').show();
			},
			render: function() {	
				var resolution = "high"
				if(this.isMobile()) {
					var resolution = "low"
				} 
				var video = this.$('video')
				video.attr("src", video.attr("src") + resolution + ".mp4")
					
				video.after('<img src="/images/furniture/play.svg" style="width:50px;padding-right:2em;" class="video_play hover_opacity padding_top_small right" /><img src="/images/furniture/pause.svg" style="width:50px;padding-right:2em;display:none;" class="video_pause hover_opacity right padding_top_small"/>')
				return this
			}
		})
		
		var sendSampleView = Backbone.View.extend({
			el: $('#form_sample'),
			events: {
				"submit": "sendForm"
			},
			sendForm: function(e) {
				e.preventDefault();
				$('.error').addClass("hidden");
				
				var message = {
					address: $('#address').val(),
					postcode: $('#postcode').val(),
					name: $('#name').val(),
					email: $('#email').val(),
					template: 'sample',
					page: $('#page').val(),
					sample: $('#which_sample').val()
				}

				var postcode_regex = /[A-Z]{1,2}[0-9][0-9A-Z]?\s?[0-9][A-Z]{2}/gi;
				var postcode = message.postcode.match(postcode_regex);
		
				if (!message.address) {
					$('#error_address').removeClass("hidden")
					$('#address').css("border-color", "#81BF08").css("border-width", "2px")
				}
		
				if (!message.postcode) {
					$('#error_postcode').removeClass("hidden")
					$('#postcode').css("border-color", "#81BF08").css("border-width", "2px")
				}
		
				if (!message.name) {
					$('#error_name').removeClass("hidden")
					$('#name').css("border-color", "#81BF08").css("border-width", "2px")
				}
		
				if (!message.email) {
					$('#error_email').removeClass("hidden")
					$('#email').css("border-color", "#81BF08").css("border-width", "2px")
				}
		
				if (message.address && postcode && message.name && message.email) {
							dataLayer.push({"event": "FreeSampleRequest"})
					$('#form_sample_spinner').show();
					$.ajax({
						type: "POST",
						url: "/emails",
						data: message,
						success: function(data) {
							$('#form_sample_spinner').hide();
							$('#post_text').hide();
							$('#form_check').show();
						}
					});
				}
			}
		})
		
		var MainView = Backbone.View.extend({
			el: $('body'),
			initialize: function() {
				this.render();
			},
			render: function() {
				$('.video').each(function() {
				 var	vv = new videoView({el:this})
			    })
			}
		})
		
		new MainView();
			new sendSampleView();
		
	    ///////////////////////////////////////////////////////////////////////////////////////////////////
		// SLIDESHOW
	    ///////////////////////////////////////////////////////////////////////////////////////////////////
	var default_slides = ["art-deco", "a-love-story","chess"];
	var additional_slides = ["birds-of-paradise-diamante-spirals", "ace-of-hearts"];
	
	var slides_html = "";
	default_slides.forEach(function(product) {
		slides_html = slides_html + '<a href="/products/' + product + '"><img sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/' + product + '/collage_700.jpg 700w, /images/invitations/' + product + '/collage_1300.jpg 1300w, /images/invitations/' + product + '/collage_2000.jpg 2000w" alt="Wedding stationery suite"></a><a href="/products/' + product + '"><img sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/' + product + '/four_700.jpg 700w, /images/invitations/' + product + '/four.jpg 1300w, /images/invitations/' + product + '/four_2000.jpg 2000w"></a>'
	})
	
	$('#slides').html(slides_html)
		
	if($('body').width() > 60) {
		var slides_html = "";
		additional_slides.forEach(function(product) {
			slides_html = slides_html + '<a href="/products/' + product + '"><img sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/' + product + '/collage_700.jpg 700w, /images/invitations/' + product + '/collage_1300.jpg 1300w, /images/invitations/' + product + '/collage_2000.jpg 2000w" alt="Wedding stationery suite"></a><a href="/products/' + product + '"><img sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/' + product + '/four_700.jpg 700w, /images/invitations/' + product + '/four.jpg 1300w, /images/invitations/' + product + '/four_2000.jpg 2000w"></a>'
		})
		$('#slides').append(slides_html)
	}
		
		$("#slides").slidesjs({
			width: 2000,
			height: 1409,

			pagination: {
				active: false
			},
			effect: {
				slide: {
					speed: 1000,
				},
			},
			play: {
				active: false,
				auto: true,
				interval: 2500,
			},
			navigation: {
				active: false
			},
			callback: {
				loaded: function(n) {
					$('#slides_spinner').hide();
				}
			}
		})
		
		
		///////////////////////////////////////////////////////////////////////////////////////////////
		//
		// SAMPLE SELECTIOn
		//
		////////////////////////////////////////////////////////////////////////////////////////////////

		var products = <%- JSON.stringify(products)  %>
	
		$("#sample_slides").slidesjs({
			width: 1500,
			height: 1512,
			navigation: {
				active:false,
				effect: "fade"
			},
			pagination: {
				active: false
			},
			effect: {
				fade: {
					speed: 1,
				}
			},
			play: {
				active: false,
				auto: false
			},
			callback: {
				complete: function(number) {
					var current_product = products[number - 1];
					$('#sample_name').html(current_product.clean_name)
					$('#which_sample').val(current_product.clean_name)
				}
			}
		})
	})
</script>
