<script>
	$(function() {
	    ///////////////////////////////////////////////////////////////////////////////////////////////////
		// Javascript for playing responsive video
        //////////////////////////////////////////////////////////////////////////////////////////////////
        
		var calculate_width = $('body').width() 

		if (calculate_width < 1200) {
    		$('#first_video_source').attr("src", "/images/invitations/birds-of-paradise-diamante-spirals/low.mp4")
    		$('#second_video_source').attr("src", "/images/invitations/art-deco/art_deco_low.mp4")
       		$('video').load()
 		} else {
    		$('#first_video_source').attr("src", "/images/invitations/birds-of-paradise-diamante-spirals/high.mp4")
    		$('#second_video_source').attr("src", "/images/invitations/art-deco/art_deco_high.mp4")
    		$('video').load()
		}

		$('#slides').html('<a href="/products/art-deco"><img sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/art-deco/collage_700.jpg 700w, /images/invitations/art-deco/collage.jpg 1300w, /images/invitations/art-deco/collage_2000.jpg 2000w" alt="Wedding stationery suite"></a><a href="/products/art-deco "><img sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/art-deco/four_700.jpg 700w, /images/invitations/art-deco/four.jpg 1300w, /images/invitations/art-deco/four_2000.jpg 2000w"></a><a href="/products/a-love-story"><img sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/a-love-story/collage_700.jpg 700w, /images/invitations/a-love-story/collage.jpg 1300w, /images/invitations/a-love-story/collage_2000.jpg 2000w" alt="Wedding stationery suite "></a><a href="/products/a-love-story "><img  sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/a-love-story/four_700.jpg 700w, /images/invitations/a-love-story/four.jpg 1300w, /images/invitations/a-love-story/collage.jpg 1300w, /images/invitations/a-love-story/four_2000.jpg 2000w"></a><a href="/products/chess"><img sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/chess/collage_700.jpg 700w, /images/invitations/chess/collage.jpg 1300w, /images/invitations/chess/collage_2000.jpg 2000w" alt="Wedding stationery suite "></a><a href="/products/chess "><img  sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/chess/four_700.jpg 700w, /images/invitations/chess/four.jpg 1300w, /images/invitations/chess/collage.jpg 1300w, /images/invitations/chess/four_2000.jpg 2000w"></a>')
		if(calculate_width > 60) {
			
			$('#slides').append('<a href="/products/birds-of-paradise-diamante-spirals"><img sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/birds-of-paradise-diamante-spirals/collage_700.jpg 700w, /images/invitations/birds-of-paradise-diamante-spirals/collage.jpg 1300w, /images/invitations/birds-of-paradise-diamante-spirals/collage.jpg 2000w" alt="Wedding stationery suite "></a><a href="/products/birds-of-paradise-diamante-spirals"><img  sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/birds-of-paradise-diamante-spirals/four_700.jpg 700w, /images/invitations/birds-of-paradise-diamante-spirals/four.jpg 1300w, /images/invitations/birds-of-paradise-diamante-spirals/four.jpg 2000w"></a><a href="/products/ace-of-hearts"><img sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/ace-of-hearts/collage_700.jpg 700w, /images/invitations/ace-of-hearts/collage.jpg 1300w, /images/invitations/ace-of-hearts/collage_2000.jpg 2000w" alt="Wedding stationery suite "></a><a href="/products/ace-of-hearts"><img  sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/ace-of-hearts/four_700.jpg 700w, /images/invitations/ace-of-hearts/four.jpg 1300w, /images/invitations/ace-of-hearts/collage.jpg	1300w, /images/invitations/ace-of-hearts/four_2000.jpg 2000w"></a>')
		}
		
		var user_paused = { "first_video": false, "second_video": false }

		$(window).scroll(function() {
			$('video').each(function(){
				var video = $(this)[0];
			    var id = video.id;
			    
			    if ($(this).is(":in-viewport")) {
			        if(video.paused && !user_paused[id]) { 
			        	video.play();
				        $('#' + id + '_play').hide();
				        $('#' + id + '_pause').show();
				        user_paused[id] = false;
			        }
			    } else {
			       video.pause();
					$('#' + id + '_play').show();
					$('#' + id + '_pause').hide();
				}
				video.muted = true;
			})
		});
			
		
		$('#second_video_play').click(function() {
			$('#second_video')[0].play();
			$('#second_video_play').hide();
			$('#second_video_pause').show();
			user_paused["second_video"] = false;
		})
		
		$('#second_video_pause').click(function() {
			$('#second_video')[0].pause();
			$('#second_video_pause').hide();
			$('#second_video_play').show();
			user_paused["second_video"] = true;
		})
			
		$('#first_video_play').click(function() {
			$('#first_video')[0].play();
			$('#first_video_play').hide();
			$('#first_video_pause').show();
			user_paused["first_video"] = false;
		})
		
		$('#first_video_pause').click(function() {
			$('#first_video')[0].pause();
			$('#first_video_pause').hide();
			$('#first_video_play').show();
			user_paused["first_video"] = true;
		})
		
		$('video').each(function() {
			var video = $(this)[0];
			var id = $(this)[0].id;
			
		 	video.addEventListener('loadeddata', function() {
		
	   			if(!video.paused) {
			        $('#' + id + "_play").hide();
			        $('#' + id + '_pause').show();
				}
			}, false);
		})
		
		
	    ///////////////////////////////////////////////////////////////////////////////////////////////////
		// SLIDESHOW
	    ///////////////////////////////////////////////////////////////////////////////////////////////////
	
		$("#slides").slidesjs({
			width: 2000,
			height: 1409,

			pagination: {
				active: false
			},
			effect: {
				slide: {
					speed: 1000,
				},
			},
			play: {
				active: false,
				auto: true,
				interval: 2500,
			},
			navigation: {
				active: false
			},
			callback: {
				loaded: function(n) {
					$('#slides_spinner').hide();
				}
			}
		})
		
		
		///////////////////////////////////////////////////////////////////////////////////////////////
		//
		// SAMPLE SELECTIOn
		//
		////////////////////////////////////////////////////////////////////////////////////////////////

		var products = <%- JSON.stringify(products)  %>
	
		$("#sample_slides").slidesjs({
			width: 1500,
			height: 1512,
			navigation: {
				active:false,
				effect: "fade"
			},
			pagination: {
				active: false
			},
			effect: {
				fade: {
					speed: 1,
				}
			},
			play: {
				active: false,
				auto: false
			},
			callback: {
				complete: function(number) {
					var current_product = products[number - 1];
					$('#sample_name').html(current_product.clean_name)
					$('#which_sample').val(current_product.clean_name)
				}
			}
		})
	})
</script>
