<!doctype html>

<body>

	<head>
		<meta name="viewport" content="initial-scale=1,user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Junge|Playfair+Display+SC|Playfair+Display:400i|Raleway:200,200i,300,300i,400,400i" rel="stylesheet">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
	</head>
	
	<%- include("partials/header") %>
	
		<div id="slides" class="centred width_95 tablet_full_width  mobile_full_width"></div>

		<div id="headline" class="centred half_padding_vertical phablet_width_90 bring_to_front serif_headline font_b mob_font_b width_66 tablet_full_width mobile_width_95 medium_line_spacing ">&ldquo;From the moment they see the envelope, your guests will know it&rsquo;s something special&hellip;&rdquo;</div>


		<article id="homepage_copywriting" class="centred phablet_width_80 width_50 tablet_width_70  mobile_full_width">

			<div class="top_dotted full_width"></div>

			<img src="/images/furniture/shell.svg" class="shell" />

			<h2 class="subhead text_left font_c mob_font_c">
				Your wedding invitation is the first representation of you and your partner as a married couple&hellip;</h2>

			<p class="body">It's also the first impression guests will have of your big day.</p>

			<p class="body">And the envelope containing it is the first thing your guests will see.</p>

			<p class="body">It should feel like a privilege when they pick it up from their letterbox: do you want to fill them with anticipation, excitement and delight, or do you want them to think it's just another greeting card in the post?</p>

			<h2 class="width_66 subhead text_center font_d mob_font_d  mobile_width_80">We're all so used to seeing boring, plain envelopes when we receive cards:</h2>

			<p class="body">So why should a beautiful invitation be let down by a dull, plain envelope? Not spending time on the envelope is like badly wrapping a gift. The envelope should not be a second-class citizen.</p>


			<video muted loop autoplay playsinline id="first_video" class="mobile_no_rounded mobile_full_width " >
				<source id="first_video_source" type="video/mp4">
				Your browser does not support the video tag.
			</video>



			<div class="width_66 centred caption clear" id="caption_vellum_cover">

				<img src="/images/homepage/pointer_up.svg" class="pointer" /><br/> Isn't there something satisfying about opening a perfectly-wrapped present, tied with a bow and adorned with a tag? How something is packaged is as important as the gift inside...
				opening an invitation should be an experience that delights your guests and makes them excited about your big day. That's why opening our invitations feels like opening a specially tailored gift rather than an average greeting card.
			</div>

			<p class="body">That's why that our envelopes come as something of an unexpected surprise.Tailor made by hand, and imprinted with your own monogram, each envelope is also printed both inside and out with matching intricate designs that co-ordinate beautifully in the
				same colour as the invitations they contain.</p>

			<p class="body">They even come individually addressed to each guest. And if you opt for our a box-envelopes, your guests really will feel like they opening an invitation to an important event. </p>

			<h2 class="width_66 font_d mob_font_d  subhead mobile_width_90">They lend an exclusivity to your wedding invitations that will have your guests wondering how you made them.</h2>


			<h2 class="width_90 font_d mob_font_d  text_center subhead">But the envelopes are just the beginning...</h2>

			<video muted loop autoplay playsinline id="second_video" class="mobile_no_rounded mobile_full_width" >
				<source id="second_video_source" type="video/mp4">
				Your browser does not support the video tag.
			</video>

			<div class="width_66 centred clear caption padding_top_small padding_bottom_medium"  id="caption_vellum_cover">

				<img src="/images/homepage/pointer_up.svg" class="pointer" /><br/> You won't find anything like our exclusive envelopes: too many beautiful invitations are let down by boring unco-ordinating envelopes that leave them feeling unfinished. Our co-ordinating
				envelopes are the pièce de résistance that you won't be able to stop looking at.</div>
				
			<div class="padding_top_medium"></div>


			<p class="body">Inside, you'll find your invitation protected by layers of tissue paper, light as a feather and again printed and watermarked with your design. </p>
			<p class="body">As well as adding an angelic beauty, it will make your guests feel like they're opening a box containing an expensive of designer shoes rather than just pulling a card from an envelope.</p>

			<!-- TESTIMONIAL--------------------------------------------------------------------------------------------------------------------------------------------->

			<div class="margin_top_2em margin_bottom_2em top_solid bottom_solid padding_bottom_large padding_top_large">

				<img src="/images/homepage/chloe.jpg" class="right clear_mobile width_30 margin_top_2em padding_bottom_medium mobile_width_40" />

				<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />

				<p class="double_line_spacing font_ee centred padding_top_medium serif_body slant text_left mobile_width_80">It&rsquo;s all the little touches, the envelopes look so special! And the way the vellum is imprinted with your own design&hellip; it just feels and looks so luxurious and classy: my guests were all really impressed as my stationery really did stand
					out from the crowd. Plus they didn&rsquo;t break the bank like I thought they would!”</p>

				<p class="font_d mob_font_d  average_line_spacing padding_top_medium serif">&mdash;	<a href="http://www.facebook.com/chlo.campbell" class="bottom_dotted hover_1_underline">Chloé Campbell</a>
					<a href="http://www.facebook.com/chlo.campbell"><img src="/images/social_media_buttons/facebook-logo-1.svg" style="width:20px;opacity:0.7;display:inline;"></a>
				</p>

				<p class="sans_subhead font_f padding_top_small">married January 2016</p>

			</div>
				<!---------------------------------------------------------------------------------------------------------------------------------------------->
			
			
			
			
			<p class="body">The next step will see your guests removing one of a range of embellishments which add that wow factor:</p>

			<h2 class="subhead width_66 text_center font_d mob_font_d mobile_width_90">Whether it's uwrapping the paper sleeve adorned with your monogram, unbuckling the gently glinting diamante ribbon or untying the bow, it all adds to the excitement.</h2>

			<p class="body">A delicate vellum cover, semi-transparent like a pane of frosted glass, softly mutes your card like a halo: as it fall away, your chosen colours&mdash;printed in solid wax that feels slightly raised as you run your finger over it&mdash;will seem even
				deeper and bolder.</p>

			<p class="body">And the thick 400gsm card, available in a variety of textures, creates a tactile satisfaction as it reveals the details of your important ceremony. </p>






			<h2 class="text_center subhead width_66 font_d mob_font_d mobile_width_90">These are just a few of the little details that make our invitations&mdash;
				<span class="slant">your invitations</span>&mdash;a cut above the rest.</h2>

		<h2 class="text_center subhead width_66 font_d mob_font_d mobile_width_80 padding_bottom_large">And it's in the little details that the big impressions get made.</h2>


		<div class="top_dotted full_width"></div>

		<img src="/images/furniture/shell.svg" class="shell padding_bottom_large" />
		
		<%- include("partials/index_form") %>


            <h2 class="subhead center width_80 font_e">And while you're waiting for it to arrive, why not <a class="grey_background_link " style="background-color:white;padding:2px;border:1px dashed grey;" href="/products">browse our designs <img src="/images/exit-top-right.svg " class="inline " style="opacity:0.7;width:15px; " /></a> to see what takes your fancy&hellip;</h2>

<p class="body">P.S. If you have any questions at all, please just drop me an email at <a href="mailto:david.p@casamiento.co.uk" class="bottom_dotted hover_1_underline">david@casamiento.co.uk</a>, or feel free to <a href="http://www.facebook.com/davidos.80
					" class="bottom_dotted hover_1_underline">add me on Facebook</a>  <a href="http://www.facebook.com/davidos.80"><img src="/images/social_media_buttons/facebook-logo-1.svg" style="width:20px;opacity:0.7;display:inline; "></a> and send me a message!</p>






	</article>



<%- include("partials/footer") %>






<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/isInViewport.min.js"></script>
<script src="/javascripts/jquery.slides.min.js"></script>


<script>
	$(function() {
		// Javascript for playing responsive video

		var calculate_width = $('body').width() - $('#homepage_copywriting').width()

		if (calculate_width < 60) {
    		$('#first_video_source').attr("src", "/images/invitations/birds-of-paradise-diamante-spirals/low.mp4")
    		console.log("YES ")
    		$('#second_video_source').attr("src", "/images/invitations/art-deco/art_deco_low.mp4")
       		$('video').load()
 		} else {
    		$('#first_video_source').attr("src", "/images/invitations/birds-of-paradise-diamante-spirals/high.mp4")

    		$('#second_video_source').attr("src", "/images/invitations/art-deco/art_deco_high.mp4")
    		$('video').load()
		}

		$('#slides').html('<a href="/products/art-deco"><img sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/art-deco/collage_700.jpg 700w, /images/invitations/art-deco/collage.jpg 1300w, /images/invitations/art-deco/collage_2000.jpg 2000w " alt="Wedding stationery suite "></a><a href="/products/art-deco "><img  sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/art-deco/four_700.jpg 700w, /images/invitations/art-deco/four.jpg 1300w, /images/invitations/art-deco/four_2000.jpg 2000w"></a><a href="/products/a-love-story "><img sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/a-love-story/collage_700.jpg 700w, /images/invitations/a-love-story/collage.jpg 1300w, /images/invitations/a-love-story/collage_2000.jpg 2000w " alt="Wedding stationery suite "></a><a href="/products/a-love-story "><img  sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/a-love-story/four_700.jpg 700w, /images/invitations/a-love-story/four.jpg 1300w, /images/invitations/a-love-story/collage.jpg 1300w, /images/invitations/a-love-story/four_2000.jpg 2000w "></a><a href="/products/chess "><img sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/chess/collage_700.jpg 700w, /images/invitations/chess/collage.jpg 1300w, /images/invitations/chess/collage_2000.jpg 2000w " alt="Wedding stationery suite "></a><a href="/products/chess "><img  sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/chess/four_700.jpg 700w, /images/invitations/chess/four.jpg 1300w, /images/invitations/chess/collage.jpg 1300w, /images/invitations/chess/four_2000.jpg 2000w "></a><a href="/products/birds-of-paradise-diamante-spirals "><img sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/birds-of-paradise-diamante-spirals/collage_700.jpg 700w, /images/invitations/birds-of-paradise-diamante-spirals/collage.jpg 1300w, /images/invitations/birds-of-paradise-diamante-spirals/collage_2000.jpg 2000w " alt="Wedding stationery suite "></a><a href="/products/birds-of-paradise-diamante-spirals "><img  sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/birds-of-paradise-diamante-spirals/four_700.jpg 700w, /images/invitations/birds-of-paradise-diamante-spirals/four.jpg 1300w, /images/invitations/birds-of-paradise-diamante-spirals/collage.jpg 1300w, /images/invitations/birds-of-paradise-diamante-spirals/four_2000.jpg 2000w "></a>')
		if(calculate_width > 60) {
			$('#slides').append('<a href="/products/ace-of-hearts "><img sizes="(max-width: 1100px) 100vw, 95vw " srcset="/images/invitations/ace-of-hearts/collage_700.jpg 700w, /images/invitations/ace-of-hearts/collage.jpg 1300w, /images/invitations/ace-of-hearts/collage_2000.jpg 2000w " alt="Wedding stationery suite "></a><a href="/products/ace-of-hearts "><img  sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/ace-of-hearts/four_700.jpg 700w, /images/invitations/ace-of-hearts/four.jpg 1300w, /images/invitations/ace-of-hearts/collage.jpg	1300w, /images/invitations/ace-of-hearts/four_2000.jpg 2000w"></a>')
		}

	$(window).scroll(function() {
		$('video').each(function(){
			    if ($(this).is(":in-viewport")) {
			        $(this)[0].play();
			    } else {
			        $(this)[0].pause();
			    }
	$(this)[0].muted = true;
			})
		});
//
		$("#slides").slidesjs({
			width: 2000,
			height: 1409,

			pagination: {
				active: false
			},
			effect: {
				slide: {
					speed: 1000,
				},
			},
			play: {
				active: false,
				auto: true,
				interval: 2500,
			},
			navigation: {
				active: false
			},
			callback: {
				loaded: function(n) {
					$('#slides_spinner').hide();
				}
			}
		})

	})
</script>
<script src="/javascripts/send_sample_form.js"></script>
<%- include("partials/index_facebook_code") %>

</body>

</html>
