<!doctype html>

<body>
	<head>
		<meta name="viewport" content="initial-scale=1,user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Junge|Playfair+Display+SC|Playfair+Display:400i|Raleway:200,200i,300,300i,400,400i" rel="stylesheet">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
	</head>
	
	<img src="/images/logo/casamiento_black.svg" class="bring_to_front" id="casamiento_logo" />

	<div id="browse_container" class="bring_to_front">
		<a href="/products"><img src="/images/furniture/browse.svg" id="book" /></a>
		<a href="/products" class="sans no_text_decoration">BROWSE DESIGNS</a>
	</div>

	<img src="/images/logo/drms.svg" class="bring_to_front" id="dreams_slogan" />

	<div id="slides" class="centred width_95"></div>

	<div id="headline" class="centred half_padding_vertical bring_to_front serif_headline font_b width_66 medium_line_spacing ">&ldquo;From the moment they see the envelope, your guests will know it&rsquo;s something special&hellip;&rdquo;</div>


	<article id="homepage_copywriting" class="centred width_50">

		<div class="top_dotted full_width"></div>

		<img src="/images/furniture/shell.svg" class="shell" />

		<h2 class="subhead text_left font_c">Have you ever opened a box of chocolates?</h2>


  <ul style="list-style-type:disc;text-align:left">
                 <li style="padding-bottom:1em;">
                    First you feel for the pull-strip that surrounds the shrink-wrapped box so that you can tear open the cellophane in one smooth motion</li>
                
                 <li style="padding-bottom:1em;">Then, you'll gently pull at cardboard lid until you feel the tabs holding it down start to give</li>
                
                 <li style="padding-bottom:1em;">Usually there's a layer of light corrugated polystyrene to lift up, underneath which each chocolate sits in its own unique shape on the carefully moulded tray.</li>

                
                 <li style="padding-bottom:1em;"> Some chocolates are individually wrapped in foil, each embossed with their own patterns, and of course there's the little instruction booklet too. </li>
                 
                 <li style="padding-bottom:1em;">Depending on the box, you might also have to undo ribbons to get inside too.</li>
            </ul>

            		<h2 class="subhead text_left font_d width_66">All of these things add to the pleasure of eating the chocolate&mdash;it's very different than putting your fingers into a bag of minstrels. </h2>

            <p class="body">It's both a tactile and visual experience which delights your senses, and the design of the box itself is as important as the chocolates inside.</p>

            <p class="body">Wouldn't it be great if your guests could feel the same delight when opening your invitations?</p>

            <h2 class="subhead center width_66 font_d">It's that feeling, of anticipation and delight, that we set about to create with our invitations&hellip;</h2>

		<video id="first_video" style="width:100%;border-radius:50px;" preload="auto" autoplay muted>
			<source id="first_video_source" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		
		
		
		<div class="width_66 centred caption" style="clear:both;"id="caption_vellum_cover">

		<img src="/images/homepage/pointer_up.svg" class="pointer"/><br/>
	 Isn't there something satisfying about opening a perfectly-wrapped present, tied with a bow and adorned with a tag?
How something is packaged is as important as the gift inside... opening an invitation should be an experience that delights your guests and makes them excited about your big day. That's why opening our invitations feels like opening a specially tailored gift rather than an average greeting card.  
		</div>
	
<ul style="list-style-type:disc;text-align:left;">
                <li style="padding-bottom:1em;">First there's the matching envelopes individually handcrafted just for your order&mdash;and when I say matching, I don't just mean the colour of the envelope: each hand-made envelope is fully printed inside and out with the same design as your invitations,
                    making them stand out from the sea of standard plain white envelopes that hold most other designs&hellip; </li>

                 <li style="padding-bottom:1em;">Inside you'll find an invitation dressed in one of a range of embellishments to add that wow factor: Whether it's uwrapping the paper sleeve adorned with your monogram, unbuckling the gently glinting diamante ribbon or untying the bow, your guests
                    will feel like they're unwrapping something really special.</li>

                 <li style="padding-bottom:1em;"> Not to mention the delicate, frosted vellum cover, again watermarked with your monogram in a matching design, that evokes a feeling of exclusivity than card alone cannot match.</li>

	
	
	
		<video id="second_video" style="width:100%;border-radius:50px;" preload="auto" autoplay muted>
			<source id="second_video_source" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		
		
		
		
                 <li>And the pièce de résistance: the beautifully printed tissue paper, light as a feather, used to separate any inserts such as RSVP cards or information sheets that may be enclosed with your invitation. If you opt for a box envelope 
                    then these are layered either side of your invitation card: it really does feel like opening a box containing an expensive pair of designer shoes. And not only does the tissue paper add an angelic beauty, it also serves the practical function of
                    preventing the ink imprinting during transit. </li>
            </ul>

		<p class="body">These are just a few of the little details that make our invitations&mdash;<span class="slant"">your invitations</span>&mdash;a cut above the rest.</p>

		<p class="body">And it's in the little details that the big impressions get made.</p>



		<%- include("partials/index_form") %>

<div style="padding-top:2em;"></span>

		<div class="top_dotted full_width"></div>

		<img src="/images/furniture/shell.svg" class="shell" />
            <h2 class="subhead center width_80 font_e">And while you're waiting for it to arrive, why not <a class="grey_background_link" style="background-color:white;padding:2px;border:1px dashed grey;" href="/products">browse our designs <img src="/images/exit-top-right.svg" class="inline" style="opacity:0.7;width:15px;" /></a> to see what takes your fancy&hellip;</h2>


		<!-- TESTIMONIAL--------------------------------------------------------------------------------------------------------------------------------------------->

		<div class="testimonial_container">

			<img src="/images/homepage/chloe.jpg" class="testimonial_photo" />

			<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />

			<p class="quote">It&rsquo;s all the little touches, the envelopes look so special! And the way the vellum is imprinted with your own design&hellip; it just feels and looks so luxurious and classy: my guests were all really impressed as my stationery really did	stand out from the crowd. Plus they didn&rsquo;t break the bank like I thought they would!”</p>

			<p class="font_d average_line_spacing padding_top_medium testimonial_name">&mdash;Chloé Campbell</p>

			<p class="sans_subhead font_f">married January 2016</p>

		</div>






	</article>

	<footer class="top_dotted">
		<img src="/images/logo/casamiento_black.svg" style="width:100px;float:left;display:block;" />
		<div style="float:right;">
			<a class="sans font_f no_text_decoration" href="/privacy.html">Privacy Policy</a></div>
	</footer>













<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/isInViewport.min.js"></script>
<script src="/javascripts/jquery.slides.min.js"></script>


<script>
	$(function() {
		// Javascript for playing responsive video
	
		var calculate_width = $('body').width() - $('#homepage_copywriting').width()

		if (calculate_width < 60) { 
    		$('#first_video_source').attr("src", "/images/invitations/birds-of-paradise-diamante-spirals/low.mp4")
    		console.log("YES")
    		$('#second_video_source').attr("src", "/images/invitations/art-deco/art_deco_low.mp4")
       		$('video').load()
 		} else { 
    		$('#first_video_source').attr("src", "/images/invitations/birds-of-paradise-diamante-spirals/high.mp4")
    		$('video').load()
		}
	
		$('#slides').html('<a href="/products/art-deco"><img sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/art-deco/collage_700.jpg 700w, /images/invitations/art-deco/collage.jpg 1300w, /images/invitations/art-deco/collage_2000.jpg 2000w" alt="Wedding stationery suite"></a><a href="/products/art-deco"><img  sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/art-deco/four_700.jpg 700w, /images/invitations/art-deco/four.jpg 1300w,  /images/invitations/art-deco/four_2000.jpg 2000w"></a><a href="/products/a-love-story"><img sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/a-love-story/collage_700.jpg 700w, /images/invitations/a-love-story/collage.jpg 1300w, /images/invitations/a-love-story/collage_2000.jpg 2000w" alt="Wedding stationery suite"></a><a href="/products/a-love-story"><img  sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/a-love-story/four_700.jpg 700w, /images/invitations/a-love-story/four.jpg 1300w,  /images/invitations/a-love-story/collage.jpg 1300w, /images/invitations/a-love-story/four_2000.jpg 2000w"></a>')
		if(calculate_width > 60) {
			$('#slides').append('<a href="/products/ace-of-hearts"><img sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/ace-of-hearts/collage_700.jpg 700w, /images/invitations/ace-of-hearts/collage.jpg 1300w, /images/invitations/ace-of-hearts/collage_2000.jpg 2000w" alt="Wedding stationery suite"></a><a href="/products/ace-of-hearts"><img  sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/ace-of-hearts/four_700.jpg 700w, /images/invitations/ace-of-hearts/four.jpg 1300w,  /images/invitations/ace-of-hearts/collage.jpg 1300w, /images/invitations/ace-of-hearts/four_2000.jpg 2000w"></a>')
		}

		$(window).scroll(function() {
			$('video').each(function(){
			    if ($(this).is(":in-viewport")) {
			        $(this)[0].play();
			    } else {
			        $(this)[0].pause();
			    }
			})
		});
		
		$("#slides").slidesjs({
			width: 2000,
			height: 1409,

			pagination: {
				active: false
			},
			effect: {
				slide: {
					speed: 1000,
				},
			},
			play: {
				active: false,
				auto: true,
				interval: 2500,
			},
			navigation: {
				active: false
			},
			callback: {
				loaded: function(n) {
					$('#slides_spinner').hide();
				}
			}
		})
	
 <%- include("partials/index_sample_box_form") %>
	})
</script>
	
<%- include("partials/index_facebook_code") %>

</body>

</html>
