<img src="/images/homepage/david.jpg" class="david_photo ">

<h2 class="text_center width_90  padding_bottom_medium average_line_spacing subhead font_c">
	Hi I'm David. I'd like to give you a free sample box, usually worth £9.99&hellip;
</h2>

<p class="body">
	When I'm not <a class="grey_background_link" style="background-color:white;padding:2px;border:1px dashed grey;" target="_blank" href="https://www.facebook.com/davidos.80/videos/1051770804901748">singing and playing the piano <img src="/images/furniture/openwindow.svg" class="inline" style="opacity:0.7;width:15px;" /></a>,
	I'm busy working on my other passion: making beautiful invitations for you.
</p>
		
<h2 class="subhead font_d text_left width_90"> I love the fact that when you buy your stationery from me, I'm not only contributing to your dream, but you're helping me with mine.</h2>

<p class="body"> In a second, I'm going to take you on a journey through all the little things that make our invitations great.</p>

<p class="body">(things you probably haven't considered but are important for you to know before you purchase any stationery)</p>

<p class="body">But first, I think the best way for you to judge them is to hold them in your hand...</p>

<img src="/images/invitations/birds-of-paradise-diamante-spirals/sample.jpg" id="sample_box" />

<h2 class="subhead centred width_66">&hellip;so for a limited time I'm giving away free sample boxes containing:</h2>

<div style="float:left;width:50%";>
	<ul  class="centred width_90">
		<img src="/images/homepage/bullets/diamond.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">Sample embellishments</span><br/>
			(bows, buckles and ribbons) for you to compare and contrast
		</li>
	</ul>
</div>

<div style="width:50%;float:right;">
	<ul class="centred width_90"><img src="/images/homepage/bullets/texture.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">Swatches of our card textures</span><br/> for you to see and touch
		</li>
	</ul>
</div>

<div style="width:50%;float:left;clear:both;">
	<ul class="centred width_90">
		<img src="/images/homepage/bullets/playing-cards.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">Three beautiful invitation suites</span><br/>
			(card, envelope, rsvp, info sheet and embellishments) from our exclusive collections
		</li>
	</ul>
</div>

<div style="width:50%;float:right;">
	<ul class="centred width_90">
		<img src="/images/homepage/bullets/colours.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">Printed colour chart</span><br/>
			so you can see what colours look like accurately, helping you find your exact colour match; <span style="font-style:italic;">and</span>
		</li>
	</ul>
</div>

<div style="width:50%;float:left;">
	<ul class="centred width_80">
		<img src="/images/homepage/bullets/book.svg" class="small_icon centred">
		<li>
			<span style="font-weight:400">Luxury catalogue</span><br/>
			for you to browse (nothing quite beats relaxing and flicking through a paper catalogue, plus it'll look good on your coffee table!)
		</li>
	</ul>
</div>	

<div style="width:50%;float:right;">
	<ul class="centred width_90">
		<img src="/images/homepage/bullets/question.svg" class="small_icon centred">
		<li>
		<span style="font-weight:400">A little surprise:</span><br/>
		we also put a little surprise in every sample box&mdash; you'll have to get one to find out what it is!
	</ul>
</div>	

<p style="clear:both;" class="font_e subhead width_80">
	Just enter your name and address now to get this parcel of perfection posted to you today&hellip;
</p>


<!-- FORM --->


<form class="pure-form form-aligned" name="sample" id="form_sample">
	<fieldset>
		<div class="pure-control-group">
			<p class="font_ee average_line_spacing error width_90 centred" id="error_name"></p>
			<input type="text" required autocomplete="name" id="name" style="background-color:white;" name="name" placeholder="Your name"></input>
		</div>

		<div class="pure-control-group">
			<p class="font_ee average_line_spacing error" id="error_email"></p>
			<input type="email" id="email" autocomplete="email" style="background-color:white;" name="email" placeholder="Email"></input>
		</div>

		<div class="pure-control-group">
			<p class="font_ee average_line_spacing error" id="error_address"></p>
			<input type="text" autocomplete="shipping street-address" id="address" style="background-color:white;" name="address" placeholder="House number or name">
			</input>
		</div>

		<div class="pure-control-group">
			<p class="font_ee average_line_spacing error" id="error_postcode"></p>
			<input type="text" id="postcode" style="background-color:white;" name="postcode" placeholder="Your postcode"></input>
		</div>
	</fieldset>

	<img src="/images/furniture/bar-loader.gif" style="width:175px;padding-top:2em;" id="form_sample_spinner" />

	<button type="submit" id="get_sample" class="pure-button pure-button-primary">
	Post my sample box now!
	</button>

</form>