<!doctype html>

<body>

	<head>
		<meta name="viewport" content="initial-scale=1,user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,200,400,400i|Raleway:100,200,300,400,500,600,700,800,200i,300i" rel="stylesheet">


		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">


		<style type="text/css">
			#casamiento_logo {
				display: block;
				top: 0;
				left: 0;
				position: fixed;
				width: 182px;
				z-index: 100;
				padding: 5px;
				background-color: white;
				border-bottom-right-radius: 10px;
			}

			#browse {
				position: fixed;
				margin: 0 auto;
				text-align: center;
				font-family: "Avenir";
				font-size: 14pt;
				font-weight: 300;
				z-index: 100;
				width: 100%;
			}

			#slides {
				width: 95;
				margin: 0 auto;
				display: none;
				clear: both;
			}

			#slides img {
				display: block;
			}

			.slidesjs-pagination {
				margin-top: 0;
			}

			.slidesjs-previous,
			.slidesjs-next {}

			.slidesjs-next {
				margin-left: 10%;
			}

			#browse_container {
				background-color: white;
				border-bottom-right-radius: 10px;
				width: 225px;
				margin: 0 auto;
				border-bottom-left-radius: 10px;
				text-align: center;
				padding-bottom: 5px;
				padding-left: 5px;
				padding-right: 5px;
			}

			h1 {
				font-weight: 300;
				font-family: 'Playfair Display';

				border-bottom:1px solid black;
				width: 60%;
				text-align: left;
				color: #222;
				font-size: 32pt;
				margin: 0;
				line-height: 1.2em;
				border-bottom: 0;
				padding-left: 1em;
				padding-right: 1em;
				margin: 0 auto;
				padding-bottom: 0;
				padding-bottom: 0.5em;
				padding-top: 0.5em;
			}

			h4 {
				text-align: center;
				font-family: 'Avenir';
				font-size: 16pt;
				font-weight: 100;
				width: 85%;
				margin: 0 auto;
				padding-bottom: 0;
				line-height: 1.4em;
			}

			#form_panel {
				padding: 0;
				width: 70%;
				text-align: center;
				background-color: #EEE;
				border-radius: 1em;
				margin: 0 auto;
				margin-top: 3em;
			}
			.left_column {
				clear:both;float:left;width:50%;
			}
.right_column {
	margin-left:50%;margin-right:5%;
}
			label {
				font-family: "Raleway";
				font-size: 12pt;
			}

			p {
				text-align: left;
				font-family: 'Raleway';
				font-weight: 300;
				line-height: 1.3em;
				font-size: 14pt;
				padding-top: 1em;
				margin: 0 auto;
			}

			.intro {
				font-size: 18pt;
				border: 2px dashed grey;
				padding-top: 0;
				margin-top: 0.5em;
				border-radius: 0.25em;
				padding: 0.5em;
			}

			.embellishment {
				padding: 0.5em;
				width: 225px;
				display:block;
				margin:0 auto;			}

			#inner_page_container_casamiento {
				color: #000;
				padding: 0;
				margin: 0 auto;
				width: 95%;
			}

			a {
				color: black;
			}

			.error {
				text-align: center;
				font-family: 'Avenir';
				font-weight: bold;
				font-size: 12pt;
				font-weight: 100;
				color: #B50000;
			}

			#browse a {
				text-decoration: none;
			}

			.pure-button {
				background-color: grey;
				font-family: 'Raleway';
				font-weight: 400;
				border-radius: 2em;
				padding-top: 1em;
				padding-bottom: 1em;
				font-size:16pt;
			}

			#dreams_slogan {
				display: block;
				top: 0;
				right: 0;
				padding-left: 5px;
				background-color: white;
				z-index: 100;
				position: fixed;
				border-bottom-left-radius: 10px;
				width: 180px;
			}

			ul {
				font-family: 'Raleway';
				line-height: 1.2em;
				font-weight:300;
				font-size: 14pt;
				text-align: left;
			}

			li {
				padding-top: 1em;
				margin-left: 1em;
			}
.flourish {
	padding-top:1em;padding-bottom:1em;display:block;margin:0 auto;width:70%;padding-top:3em;
}
			#genesis {
				display: block;
				margin: 0 auto;
				position: relative;
				z-index: 99;
				background-color: white;
				padding: 1em;
				border-radius: 1em;
				margin-top: -1.5em;
			}

			input {
				background-color: #EEE;
				border: 1px solid black;
				font-family: Avenir;
				font-size:16pt;
				font-weight: 100;
			}

			input:hover {
				background-color: white;
			}

			.testimonial_container {
				margin: 0 auto;
				margin-top: 2em;
				background-color: #F6E0E0;
				width: 90%;
				padding: 1em;
			}

			.testimonial_photo {
				display: block;
				position: relative;
				float: left;
				top: -2em;
				width: 175px;
				margin-left: 3em;
				margin-right: 2em;
			}

			.testimonia_quote_icon {
				width: 50px;
				float: left;
				margin-bottom: 8em;
				margin-right: 0.5em;
			}

			.testimonial_quote {
				font-style: italic;
				font-family: 'Avenir';
				font-weight: 100;
				font-size: 14pt;
				line-height: 140%
			}

			.testimonial_name {
				margin: 0;
				padding: 0;
				font-family: 'TP';
				font-size: 28px;
				letter-spacing: 0.02em;
			}

			.testimonial_date {
				font-family: 'Avenir';
				font-size: 18px;
				margin: 0;
				margin-top: 0.25em;
				padding: 0;
				padding-left: 1.7em;
			}

			.subheader_container {
				margin-top: 0.5em;
				background-color: #F1EFF0;
				margin-top: 5em
			}

			.triangle {
				margin: 0 auto;
				padding: 0;
				display: block;
			}

			/* Smartphone */
			/* ----------------------------------------------------------------------------- */

			@media all and (min-width: 260px) and (max-width: 680px) {
				#inner_page_container_casamiento {
					width: 100%;
					padding: 0;
				}
				#headline {
					width: 95%;
					padding-top: 0;
					margin-top: 0;
					font-size: 1pt;
				}
				#form_panel {
					margin: 0 auto;
					margin-top: 2em;
					width: 95%;
				}
				#genesis {
					margin-top: -0.75em;
					width: 60%;
					max-width: 280px;
					padding: 0.25em;
					position: relative;
					margin-bottom: 1.5em;
				}
				#casamiento_logo {
					position: static;
					width: 130px;
					padding: 0px;
					float: left;
					background-color: white;
					border-bottom-right-radius: 5px;
				}
				#dreams_slogan {
					padding-top: 5px;
					float: right;
					position: static;
					padding-left: 2px;
					background-color: white;
					z-index: 100;
					border-bottom-left-radius: 5px;
					width: 140px;
				}
				.left_column,
				.right_column {
					clear: both;
					float: none;
					width: 100%;
					margin: 0;
				}
				#slides {
					width: 100%;
					float: none;
				}
			}
			/* Phablet */

			@media all and (min-width: 681px) and (max-width: 900px) {
				/* ----------------------------------------------------------------------------- */
			}

			@media all and (min-width: 500px) and (max-width: 800px) {
				/* ----------------------------------------------------------------------------- */
			}
			/* IN BETWEEN */

			@media all and (min-width: 680px) and (max-width: 830px) {
				/* ----------------------------------------------------------------------------- */
			}
			/* IN BETWEEN */

			@media all and (min-width: 831px) and (max-width: 1170px) {
				/* ----------------------------------------------------------------------------- */
			}
		</style>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<script src="/javascripts/jquery.slides.min.js"></script>
		<!-- Facebook Pixel Code -->
		<script>
			! function(f, b, e, v, n, t, s) {
				if (f.fbq) return;
				n = f.fbq = function() {
					n.callMethod ?
						n.callMethod.apply(n, arguments) : n.queue.push(arguments)
				};
				if (!f._fbq) f._fbq = n;
				n.push = n;
				n.loaded = !0;
				n.version = '2.0';
				n.queue = [];
				t = b.createElement(e);
				t.async = !0;
				t.src = v;
				s = b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t, s)
			}(window,
				document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

			fbq('init', '1165096770179288');
			fbq('track', "PageView");
		</script>
		<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1165096770179288&ev=PageView&noscript=1"
/></noscript>
		<!-- End Facebook Pixel Code -->
	</head>
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-->

	<div id="inner_page_container_casamiento">

		<img src="/images/logo/casamiento_black.svg" id="casamiento_logo" />
		<div id="browse">
			<div id="browse_container">
				<a href="/products"><img src="/images/furniture/browse.svg" style="vertical-align:middle" /></a>
				<a href="/products"><span id="browse_link">BROWSE DESIGNS</a>
			</div>
		</div>

		<img src="/images/logo/drms.svg" id="dreams_slogan" />

		<div id="slides">

			<% products.forEach(function(invitation) { %>
				<img src="/images/invitations/<%= invitation.name %>/collage.jpg" />
				<img src="/images/invitations/<%= invitation.name %>/four.jpg" />
				<%}) %>

		</div>

		<img src="/images/logo/genesis_horizontal.svg" id="genesis" />
<div style="float:left;width:40%;margin-left:5%;">
		<h1 style="width:75%;margin-left:5%;">&ldquo;If the invitation was anything to go by, then I was already dreading the actual wedding&hellip;&rdquo;</h1>


</div>
<div class="right_column">
		<p style="font-size:18pt" style="padding-top:0.4e;">

			&ldquo;I remember getting a homemade wedding invitation in the mail which had completely fallen apart. The stuck-on ribbon and lace had fallen off as had the fake flower because of the cheap glue they used&hellip;&rdquo;</p>

		<p style="font-size:16pt">
			&ldquo;The paper was cut crooked and you could see the pencil outlines they used to cut along&mdash;it just made me cringe. I couldn't believe they could send that to people&hellip; I'd be too ashamed.&rdquo;</p>

		<p style="FONT-SIZE:16PT;font-style:italic;">&ldquo;I know weddings are incredibly expensive but it really set the mood for the whole wedding: I already started to imagine how awful the actual event was going to be.&rdquo;</p>

						<img src="/images/furniture/shell.svg" style="padding-top:1em;padding-bottom:1em;display:block;margin:0 auto;width:30px;" />
</div>
<div class="left_column" style="position:relative;top:-5em;">

						<!-- SAMPLE FORM
			-----------------------------------------------------------------------
			-----------------------------------------------------------------------
			-----------------------------------------------------------------------
			-----------------------------------------------------------------------

			-->

						<div id="form_panel" style="width:85%;margin-right:10%;">

							<img src="/images/homepage/icons/sample.svg" style="width:50px;display:block;margin:0 auto;margin-top:-1.5em;" />

							<div style="padding:0.5em;">

								<h4 style="font-family:'Raleway';font-weight:300;line-height:1.2em;"><span style="font-weight:600;font-family:'Raleway'">FREE until Saturday 22nd September&hellip;</span><br/>
									 get your own sample box<br/>
									 <span style="font-weight:600;">usually worth £14.99</span>, containing:</h4>

								<ul style="padding:0;font-family:'Raleway';font-weight:300;font-size:13pt;">
									<li>three beautiful invitation suites (card, envelope, rsvp, info sheet and embellishments) from our exclusive collection </li>
									<li>swatches of our card textures for you to see and touch</li>
									<li>sample embellishments (bows, buckles and ribbons) for you to hold in your hands</li>
									<li>colour chart so you can find your exact colour match; <span style="font-style:italic;">and</span></li>
									<li>our breathtaking luxury catalogue for you to browse</li>
								</ul>

								<img src="/images/homepage/sample_box.png" style="width:300px;" />

								<p style="text-align:center;font-family:'Avenir';font-size:14pt;font-weight:100;width:85%;margin:0 auto;padding-bottom:1em;line-height:18pt;">&hellip;enter your name and address now to get it posted today&hellip;</p>
								<form class="pure-form form-aligned" name="sample" id="form_sample">

									<div class="pure-control-group">
										<p class="error" id="error_address"></p>
										<input type="text" id="address" name="address" placeholder="House number or name"></input>
									</div>


									<div class="pure-control-group">

										<p class="error" id="error_postcode"></p>
										<input type="text" id="postcode" name="postcode" placeholder="Your postcode"></input>
									</div>

									</fieldset>
									<div style="text-align:center;">
										<button type="submit" id="get_sample" class="pure-button pure-button-primary" style="margin:0.5em">Post my FREE sample box now!</button>

									</div>
								</form>
							</div>
						</div>
						<img src="/images/furniture/triangle.svg" class="triangle" />



												<img src="/images/furniture/flourish_line.svg" class="flourish" />


</div>

<div class="right_column">
		<p style="font-family:'Playfair Display';font-size:18pt;">Is this how you want your guests to feel when they open your wedding invitations?</p>

		<p>Of course not&hellip;</p>

			<p>Invitations give your guests their first impression of your special day&mdash;you want to fill them with excitement, not dread&mdash;so it's really important to get your stationery right. But what really goes into making a good invitation? </p>

			<!---------------------------- SECTION -->

					<div style="margin-top:0.5em;background-color:#F1EFF0;">
						<img src="/images/homepage/icons/ribbon.svg" style="padding-top:1em;display:block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" />
					</div>

					<img src="/images/furniture/triangle.svg" class="triangle" />


					<p class="benefit intro" style="padding:0;border:0;font-family:'Playfair Display';font-size:18pt;">

						Have you ever opened an expensive box of chocolates? </p>
<ul>
	<li>
					First there's searching for the pull-strip that goes around the pack so that you can tear open the cellophane in one quick motion. </li>
					<li>Then, gently pulling at cardboard lid until you feel the tabs holding it down start to give. </li>
					<li>Usually there's a layer of light corrugated card to lift up, underneath which each chocolate sits in its own unique shape on the carefully moulded tray.</li>

					<li> Some chocolates are individually wrapped in foil, each embossed with their own patterns, and of course there's the little instruction booklet too. </li>
</ul>
					<p>All of these things add to the pleasure of eating the chocolate&mdash;it's very different than putting your fingers into a bag of minstrels. </p>

					<p>It's both a tactile and visual experience which delights your senses, and the design of the box itself is as important as the chocolates inside.</p>

					<p>Wouldn't it be great if your guests could feel the same delight when opening your invitations?</p>

					<p>It's that feeling we, of anticipation and delight, that we set about to create with our invitations&hellip;</p>
				</div>

				<div style="clear:both;float:left;width:45%;">

					<img src="/images/homepage/big_illustrations/invite_vellum.png" style="display:block;margin:0 auto;width:505px;" />

					<div style="width:50%;text-align:center;padding-bottom:2em;">
						<img src="/images/homepage/pointer_up.svg" />
						<p style="text-indent:0;text-align:center;width:90%:margin:0 auto;font-size:12pt;font-style:italic;margin:0;border:0;padding:0;">
							Vellum cover not only looks beautiful, but protects your invitation and prevents ink from transferring in transit</p>
					</div>

																	<img src="/images/furniture/flourish_line.svg" class="flourish" />
</div>

<div class="right_column">
<ul>
	<li>First there's the matching envelopes individually handcrafted just for your order&mdash;and when I say matching, I don't just mean the colour of the envelope: each envelope is fully printed inside and out with the same design as your invitations, making
						them stand out from the sea of standard plain white envelopes that hold most other designs&hellip; </li>

<li>Inside you'll find an invitation dressed in one of a range of embellishments to add that wow factor:

					Whether it's uwrapping the paper sleeve adorned with your monogram, unbuckling the gently glinting diamante ribbon or untying the bow, your guests will feel like they're discovering something really special.</li>

<li>					Not to mention the delicate, frosted vellum cover, again watermarked with your monogram in a matching design, that evokes a feeling of exclusivity than card alone cannot match.</li>

					<li>And the pièce de résistance: the beautifully printed tissue paper, light as a feather, used to separate any inserts such as RSVP cards or information sheets that may be enclosed with your invitation. If you opt for a box envelope (read more in a bit...)
						then these are layered either side of your invitation card: it really does feel like opening a box containing an expensive pair of designer shoes. And not only does the tissue paper add an angelic beauty, it also serves the practical function of preventing the ink imprinting during transit. </li></ul>

								<p>But to really know a good invitation, you need to know what makes a bad invitation. </p>

								<p>So let's take a look at some of the biggest mistakes&hellip;</p>
</div>

<div class="left_column">

						<div style="text-align:center;">
							<img src="/images/homepage/big_illustrations/ribbon.png" class="embellishment" />

												<div style="width:50%;text-align:center;padding-bottom:2em;margin:0 auto;">
													<img src="/images/homepage/pointer_up_short.svg" />
													<p style="text-indent:0;text-align:center;width:90%:margin:0 auto;font-size:12pt;font-style:italic;margin:0;border:0;padding:0;">
														<span style="font-style:normal;font-family:'Playfair Display';font-weight:bold;">Ribbon bow.</span> In your choice of colour to match your scheme, tied around your invitation with love. </p>
												</div>
							<img src="/images/homepage/big_illustrations/wrap.png" class="embellishment" />
							<div style="width:50%;text-align:center;padding-bottom:2em;margin:0 auto;">
								<img src="/images/homepage/pointer_up_short.svg" />
								<p style="text-indent:0;text-align:center;width:90%:margin:0 auto;font-size:12pt;font-style:italic;margin:0;border:0;padding:0;">
									<span style="font-style:normal;font-family:'Playfair Display';font-weight:bold;">Paper wrap.</span> Surrounding your invitation, our paper wraps are a less expensive option that still gives your invitatino a special touch. </p>
							</div>
							<img src="/images/homepage/big_illustrations/pearl.png" class="embellishment" />

							<div style="width:50%;text-align:center;padding-bottom:2em;margin:0 auto;">
								<img src="/images/homepage/pointer_up_short.svg" />
								<p style="text-indent:0;text-align:center;width:90%:margin:0 auto;font-size:12pt;font-style:italic;margin:0;border:0;padding:0;">
									<span style="font-style:normal;font-family:'Playfair Display';font-weight:bold;">Metal buckle.</span> To give real impact, our range of buckle embellishments will take your guest's breath away. </p>
							</div>
						</div>
</div>

<div class="right_column">

				<!---------------------------- SECTION -->

				<div class="subheader_container">
					<img src="/images/homepage/icons/shapes.svg" style="padding-top:1em;display:block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" />
				</div>

				<img src="/images/furniture/triangle.svg" class="triangle" />

		<p style="font-family:'Playfair Display';font-size:18pt;">
					Nothing lets a good invitation down like a bad envelope:
				</p>

				<p>Isn't there something satisfying about opening a perfectly-wrapped present, tied with a bow and adorned with a tag? How something is packaged is as important as the gift inside&hellip;</p>

				<p>That's why companies spend millions of pounds wrapping boring things like rice in elegant, carefully-designed foil (and shoving an extra £1 on the price in the process!).</p>


								<p>
									Needless to say, boring, plain envelopes with smudged, hand-scribbled addresses will not do justice to what is inside.</p>


								<p>
									The envelope is the first thing your guests will see and when it arrives through the letterbox you want them to be impressed and excited to find out what's inside, not think it's another badly-written birthday card from Aunty Emily or a bill from British
									Gas.
								</p>


								<p>
									When people see our invitations for the first time, it's usually the envelope that they are first surprised and impressed with. </p>



								<p>
									Why?</p>

								<p>
									Because our highly tailored envelopes are simply so rare to see: printed both inside and out with matching intricate designs that compliment the invitations they contain and personalised with your own monogram, each envelope can also be individually printed
									with your guest addresses for the ultimate in co-ordination (not forgetting saving you a lot of time). </p>
<p>
									And it's because envelopes are wrongly the least considered element of a wedding invitation that our high level of customisation really does make your invitation stand out: everyone is so used to boring envelopes that it's a real surprise to see something
									so beautiful&mdash;your invitations will be the talk of your guests who will be asking "Where did you get these made?" </p>

								<p>
									If you want to go one step further, our box envelopes really do make your guests feel as though they are receiving an expensive present (they're just like little presentation box), a gift they simply won't be able to throw away.


								</p>


</div>
<div class="left_column">


									<div style="width:50%;text-align:center;margin-left:50%;margin-bottom:-10em;position:relative;z-index:5">

										<p style="text-indent:0;text-align:center;width:90%:margin:0 auto;font-size:12pt;font-style:italic;margin:0;border:0;padding:0;">
											Envelopes are printed with your guest names and addresses for the perfect, saving time and looking beautiful</p>
										<img src="/images/homepage/pointer_down.svg" />
									</div>

									<img src="/images/homepage/big_illustrations/envelope.png" style="margin:0 auto;width:100%;display:block;" />
									<div style="width:50%;text-align:center;margin-top:-10em;">

										<img src="/images/homepage/pointer_up.svg" />


										<p style="text-indent:0;text-align:center;width:90%:margin:0 auto;font-size:12pt;font-style:italic;margin:0;border:0;padding:0;">
											Our envelopes are highly tailored, with patterns and monograms printed inside and outside</div>
									<p>

			<!-- TESTIMONIAL
-----------------------------------------------------------------------
-----------------------------------------------------------------------
-----------------------------------------------------------------------
-----------------------------------------------------------------------

-->

			<div class="testimonial_container" style="clear:both;" >
				<img src="/images/homepage/testimonial_helen.png" class="testimonial_photo" />
				<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />
				<p class="testimonial_quote" style="font-family:'Raleway';font-weight:300;font-size:16pt;">From the sample pack, to the quick responses from David during the process of editing my invitations, through to the moment I opened my special parcel and discovered each individually wrapped package containing my stationery, everything was just perfect...”</p>

				<div style="margin:0 auto;width:50%;padding-left:50%;">
					<p class="testimonial_name">&mdash;Helen Oishi</p>
					<p class="testimonial_date">married October 2015</p>
				</div>

			</div>
			<img style="display:block;margin:0 auto;;" src="/images/homepage/testimonial_arrow.svg" />


</div>
<div class="right_column">



				<!---------------------------- SECTION -->

				<div style="margin-top:4em;background-color:#F1EFF0;"> <img src="/images/homepage/icons/crocodile-shape.svg" style="padding-top:1em;display:block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" /></div><img src="/images/furniture/triangle.svg" class="triangle" />

				<p>
					The journey from postbox to letterbox is fraught with dangers</p>
				<p class="benefit intro">
					Ever wondered what happens to your invitations when they go in the post box?
				</p>

				<p>
					Does a magic fairy with clean hands magically fly them to their destination?</p>


				<p>No.</p>


				<p>They are handled by at least a dozen different people, pressed between rollers, rained-upon and X-rayed&mdash;just for starters. </p>


				<p>All of this means that there without careful consideration, your invitation may well not arrive in the same state you posted it in. </p>


				<p>One bride was devastated to find that when her guests received her invitation, the ink had transferred to the other side of the card, causing a horrible, smudged, ghosting effect. </p>


				<p>Another common issue is Fat Envelope Syndrome&hellip;</p>

				<img src="/images/homepage/big_illustrations/box_envelope.png" style="margin:0 auto;width:650px;display:block;" />

				<p>&hellip;standard envelopes aren't designed to take invitations with a ribbon or an embellishment such as a diamante. They are meant for flat cards only.</p>


				<p>Added extras will give the envelope a horrible, unsightly bulge, you won't be able to seal them neatly, and to top it off when they are in the post, the knot on the ribbon or the envelope will often get pushed against the envelope so hard that it will
					actually cause the envelope to rip and can end up poking through.</p>


				<p>Diamantes can press against other enclosures as well as the envelope causing unsightly scars and indents. </p>

				<!-- TESTIMONIAL
				-----------------------------------------------------------------------
				-----------------------------------------------------------------------
				-----------------------------------------------------------------------
				-----------------------------------------------------------------------

				-->

				<div class="testimonial_container"><img src="/images/homepage/testimonial_chloe.png" class="testimonial_photo" />
					<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />
					<p class="testimonial_quote">It’s all the little touches, the way the envelopes match and the vellum is imprinted with your own design... it just feels and looks so luxurious and my guests were all really impressed as my stationery really did stand out from the crowd.”</p>

					<div style="margin:0 auto;width:50%;padding-left:50%;">
						<p class="testimonial_name">&mdash;Chloé Campbell</p>
						<p class="testimonial_date">married January 2016</p>
					</div>

				</div>
				<img style="display:block;margin:0 auto;;" src="/images/homepage/testimonial_arrow.svg" />


				<p>Rain will often cause handwritten addresses to run if you use soluble ink, and the same can go for ink printed with inkjets. </p>


				<p>This isn't how you want your invitation to arrive. </p>


				<p>We know all the nasty things that can happen to an invitation in transit and so we design our invitations to make that journey as safe as it can be.</p>


				<p>Our box-envelopes, made from sturdy matching card, are created especially to hold invitations with added extras and keep them in pristine condition.</p>


				<img src="/images/homepage/big_illustrations/tissue_sections.png" style="display:block;margin:0 auto;width:500px;padding:1em;" />
				<div style="width:50%;margin:0 auto;text-align:center;margin-top:-3em;">

					<img src="/images/homepage/pointer_up.svg" />


					<p style="text-indent:0;text-align:center;width:90%:margin:0 auto;font-size:12pt;font-style:italic;margin:0;border:0;padding:0;">
						Our tissue paper not only looks stunning printed with your matching design, but acts as a seperator between cards to prevent ink transferring during transit.</div>



				<p>Our waterproof vellum covers protect your invitation in the event that even the smallest bit of rain gets in. </p>


				<p>And our wax ink will never run or smudge because water can't damage it. </p>


				<p>Take that, postman!</p>


</div>
			<!-- HORROR STORIES FORM
-----------------------------------------------------------------------
-----------------------------------------------------------------------
-----------------------------------------------------------------------
-----------------------------------------------------------------------

-->

			<div id="form_panel" style="width:65%;">

				<img src="/images/homepage/icons/open-book-top-view.svg" style="width:50px;margin-top:-1.5em;" />
				<p style="font-size:18pt;font-weight:bold;text-align:center;margin-top:0;padding-top:0;">Avoid expensive mistakes&hellip;</p>

				<p style="line-height:140%;text-align:center;padding-bottom:1em;">
					&hellip;empower yourself with knowledge by learning from the devastating mistakes made by others! Download <span style="font-style:italic;">The Invitation Horror Story Book</span>, completely free now and discover:</p>
				<ul style="padding:0;margin:0;line-height:140%;">

					<li><span style="font-weight:bold">three important reasons</span> why you must never order your stationery without asking for this first</li>

					<li>in our online age, <span style="font-weight:bold;">discover the one thing  brides aren't doing</span> any more when it comes to choosing their invitations and why they are living to regret it</li>

					<li>the one thing no one thinks to ask their stationery company: <span style="font-weight:bold;">this can spoil the most beautiful invitations</span> if you don't check first</li>

					<li>what you won't know about until your guests tell you: don't hear it from your guests first, <span style="font-weight:bold;">avoid this happening to you</span> </li>

				</ul>

				<img src="/images/homepage/ebook_horror.png" style="width:300px;" />

				<form class="pure-form form-aligned" name="sample" id="form_sample">

					<div class="pure-control-group">
						<p class="error" id="error_address"></p>
						<input type="email" id="email" name="email" placeholder="Your email address"></input>
					</div>


					</fieldset>
					<div style="text-align:center;">
						<button type="submit" id="get_sample" class="pure-button pure-button-primary" style="margin:0.5em">Download now</button>

					</div>
				</form>




			</div>





			<!---------------------------- SECTION -->

			<div style="margin-top:0.5em;background-color:#F1EFF0;margin-top:5em;">
				<img src="/images/homepage/icons/write.svg" style="padding-top:1em;display:block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" />
			</div>
			<img src="/images/furniture/triangle.svg" class="triangle" />


			<p style="padding-top:0;margin-top:0;text-align:center;font-family:GaraI;line-height:1.2em;font-size:24pt;padding-bottom:0.5em;margin-top:0;width:70%;border-bottom:1px solid black;">
				Personalisation will save you many hours of valuable time and stress&hellip;

			</p>
			<p class="benefit intro">
				Have you any idea how long it takes to individually address each invitation and envelope?
			</p>

			<p>It's probably something you haven't thought too hard about... but handwriting guest names on each invitation is a messy, time consuming , physically demanding and error prone business&hellip;</p>

			<p>Your hand will ache after a while and the beautiful handwriting you inscribed on the first invitation will start looking like a Doctor's signature by invitation number 32.</p>

			<p>And there's no delete button when you mess up the spelling, and oh dear, now your invitation is ruined as the name won't fit in the space!</p>

			<p>If you're going to personalise your invitations by hand, then you need to be prepared to order a good few extra envelopes and invitations as you're going to screw up some of them. It's a fact. </p>

			<img src="/images/homepage/big_illustrations/guestname.png" style="margin:0 auto;width:250px;display:block;;" />

			<p>Plus, ink smudges easily, and in the words of one of our brides, "I just don't like the look of a perfect printed invitation and then hand written names".</p>

			<p>But there's a simple solution:</p>

			<p>We can print your guest names on each invitation individually, as well as addressing your envelopes (more info below):</p>

			<img src="/images/homepage/big_illustrations/guestaddress.png" style="margin:0 auto;width:400px;display:block;;" />
			<p>not only does it look much nicer to have an invitation co-ordinated with pre-printed names in a matching font, but creating a list you can edit and update on a computer first is much more sensible: you can thorougly check for mistakes, and, if you
				intend to handwrite your envelopes you're going to have to create a list of names and addresses anyway&mdash; so why, when you've already created the list, double the amount of time and effort by rewriting these all out when they can just be emailed
				to us for printing?</p>

			<p>But it's about more than just saving time&hellip;</p>

			<p>Personalisation is extremely important because by explicitly addressing your invitations to "Sarah, Jane & Jenny", it takes the guesswork away from your guests: Sarah knows straight away that she can bring her flatmate and daughter. If it just says
				"Sarah & Guest", she knows she is invited and can bring any guest.</p>

			<img src="/images/homepage/big_illustrations/monograms.png" style="display:block;margin:0 auto;width:505px;" />
			<p>An invitation that isn't personalised makes it awkward for your guests to know who they can and can't bring along (and awkward for you to know who they are bringing along too), but if you address your guests individually, you'll make things easier
				for yourself and your guests from the start: it avoids that difficult conversation when they ask you, "Can I bring the kids/boyfriend I met last week?".</p>

			<p>If you don't personalise your wedding invitations with individual names, it's not clear who exactly is invited--and that means more hassle for you.</p>



			<!---------------------------- SECTION -->

			<div class="subheader_container"> <img src="/images/homepage/icons/pig-with-round-tail.svg" style="padding-top:1em;display:block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" /></div><img src="/images/furniture/triangle.svg" class="triangle" />


			<p style="padding-top:0;margin-top:0;text-align:center;font-family:GaraI;line-height:1.2em;font-size:24pt;padding-bottom:0.5em;margin-top:0;width:70%;border-bottom:1px solid black;">
				Don't let your invitation look like a card from Moonpig&hellip;

			</p>
			<p class="benefit intro">

				Whatever you do, please, please don't let your invitation look like it was created in Microsoft Word.
			</p>

			<p>
				Nothing shouts cheap and amateur louder and looks uglier than an invitation that's been laid out by someone with no typography skills. </p>
			<p>
				There's a reason people hire graphic designers…</p>
			<p>
				…sometimes when you look at something, it just looks professional, chic and expensive but if anyone was to ask you, you wouldn't be able to explain why--it's just a feeling.</p>




			<!-- TESTIMONIAL
-----------------------------------------------------------------------
-----------------------------------------------------------------------
-----------------------------------------------------------------------
-----------------------------------------------------------------------

-->

			<div class="testimonial_container">
				<img src="/images/homepage/testimonial_holly.png" class="testimonial_photo" />
				<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />
				<p class="testimonial_quote">I've never seen anything else like the level of customisation on the envelopes, they were a real talking point amongst my guests! Dealing with David throughout the process also gave me confidence as I wasn't being passed around from pillar to post.
					Thank you so much.”</p>

				<div style="margin:0 auto;width:50%;padding-left:50%;">
					<p class="testimonial_name">&mdash;Holly Morgan</p>
					<p class="testimonial_date">married July 2016</p>
				</div>
			</div>

			<img style="display:block;margin:0 auto;;" src="/images/homepage/testimonial_arrow.svg" />

			<p>
				But a lot of work goes into making you have that feeling: it's all in the detail-- care and attention to the little nuances that, on their own don't seem very significant but combined make a massive difference to the way people see and perceive your invitations--either
				as cheap and tacky or expensive and elegant.</p>

			<p>Subtle touches such as careful alignment and spacing, the use of bullet points and ornamental separations between paragraphs are just some of the things that individually may not sound like much but together add up to create a stunning layout that
				you would expect from a Royal wedding.</p>

			<img src="/images/homepage/big_illustrations/invitetext.png" style="display:block;margin:0 auto;width:505px;" />

			<p>Stuff from Lidl looks and feels cheaper than the premium products at Waitrose. </p>

			<p>The Sun doesn't look as classy as The Times. </p>

			<p>But whilst you can see the difference, it takes a professional to understand what goes into making the difference. </p>

			<p> Free fonts and clipart that have been downloaded from the internet are free for a reason: they don't have the same refinements that will give your invitations a polished, superior look.</p>

			<p>
				Some of the fonts we use have cost hundreds of pounds, and we pay that because we know the time and effort went into creating them and the value they give in making your invitations look exquisite. </p>
			<p>
				Too many stationery suppliers are often brides with no design background who've created their own stationery and decided to make a bit of money on the side creating stationery for others. </p>
			<p>
				Which leads me nicely onto...</p>





			<!--------------------------  BENEFIT  -->

			<div class="subheader_container"> <img src="/images/homepage/icons/drill-outline.svg" style="padding-top:1em;display:block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" /></div><img src="/images/furniture/triangle.svg" class="triangle" />


			<p style="padding-top:0;margin-top:0;text-align:center;font-family:GaraI;line-height:1.2em;font-size:24pt;padding-bottom:0.5em;margin-top:0;width:70%;border-bottom:1px solid black;">
				Think doing it yourself will save you time and money? Think again&hellip;

			</p>
			<p style="font-size:18pt;">
				Have you ever done a simple DIY job around the house that's turned into a large DIY job that's ended up costing you more in time, money and frustration than if you'd just paid a professional to do it?</p>
			<p>
				If so, then you'll know that often "doing it yourself" can be a false economy.</p>
			<p>
				Have you thought about what you're going to need if you decide to create your own invitations properly?</p>
			<p>
				You'll need at least some of the following:</p>
			<ul>
				<li>a guillotine</li>
				<li>ribbon</li>
				<li>glue</li>
				<li>paper and card</li>
				<li>a card scorer</li>
				<li>a decent printer and ink</li>
				<li>lots and lots of time... and patience</li>
			</ul>
			<p>
				How irritable will you become when the card is too thick to go through your printer?
			</p>
			<p>
				How disappointed will you feel when the ink doesn't print properly on the textured card you bought?
			</p>



			<div style="text-align:center;">
				<img src="/images/homepage/big_illustrations/pearlescent.png" style="padding:0.5em;display:inline-block;width:145px;text-align:center;" />
				<img src="/images/homepage/big_illustrations/hammered.png" style="padding:0.5em;display:inline-block;width:145px;text-align:center;" />
				<img src="/images/homepage/big_illustrations/linen.png" style="padding:0.5em;display:inline-block;width:145px;text-align:center;" />
			</div>


			<p>
				How frustrated will you be trying to get the colour of the ink to match the colour of the ribbon you bought?
			</p>
			<p>
				How will you feel when you realise you've spent more on ink alone than the cost of getting invitations professional printed?
			</p>
			<p>
				How annoyed will you be when you realise those scissors in the bottom of the drawer don't do the trick when it comes to cutting ribbon cleanly and you need to buy expensive specialist scissors?
				<p>
					The list goes on…</p>

				<p>
					…and as one bride said: </p>

				<p>
					"What cost me money is not so much doing the actual invites, it was what I bought to try it out before I decided what I wanted it to look like!"</p>
				<p>
					And how deflated will you be when you've bought the card, ribbon, envelopes and created your design... and then you realise it turns out nothing like you imagined?</p>
				<p>
					It's so much better seeing a photo of the finished product. </p>
				<p>
					And as a professional, I've made years of mistakes, I know the problems, and I have the solutions.</p>
				<p>
					Weddings are stressful enough as it is: don't add to your stress unless you carefully consider the true overall cost of doing-it-yourself: not just financially but emotionally in terms of bitten nails and forehead lines!</p>





				<!--------------------------  BENEFIT  -->

				<div style="margin-top:0.5em;background-color:#F1EFF0;margin-top:5em;"> <img src="/images/homepage/icons/car-falling.svg" style="padding-top:1em;display:block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" /></div><img src="/images/furniture/triangle.svg" class="triangle" />


				<p style="padding-top:0;margin-top:0;text-align:center;font-family:GaraI;line-height:1.2em;font-size:24pt;padding-bottom:0.5em;margin-top:0;width:70%;border-bottom:1px solid black;">

					Murphy's Law: Anything that can go wrong, will go wrong&hellip;

				</p>
				<p style="font-size:18pt;">








					Spelling errors.</p>

				<p>

					Delays in delivery.</p>

				<p>
					Colours not matching.</p>

				<p>
					Things not looking how you thought they would, after everything's been printed&hellip; </p>

				<p>
					The road from placing an order to receiving your finished invitations can be bumpy if you're not working with people who communicate well and know all the issues that can, and will, arise. </p>

				<p>
					In a world where so much is automated, potential problems can fall through the cracks as there is no human being involved to stop and intervene:</p>

				<p>
					For example, one bride had uploaded her list of addresses to a stationery company but there was a limit to 5 lines per address: therefore some of the addresses had the last two lines cut off!</p>

				<p>
					But she only found out when she received her invitations&mdash;if the company had bothered to do a few checks, they could easily have flagged this up and sorted out the problem before it was too late.</p>

				<p>
					We do checks every step of the way to avoid these sort of issues, and if we notice something that doesn't seem right, we won't just blindly go ahead with your order&mdash;we'll contact you to check it out.</p>

				<p>
					Honestly, the number of times I see Michael spelled Micheal&mdash;it'd be easy to just go ahead without questioning it, but I always contact the bride to double-check and usually I get "Yes, it should be Michael! THANK YOU for noticing!". </p>

				<p>
					A lot of stationery companies allow you to customise designs yourself online&mdash;this is great fun but in practice we've learned that for items as complex and important as wedding stationery it only leads to misery: there are too many opportunities
					for errors and mistakes.</p>

				<p>
					Until technology gets really intelligent, it's still really important that a human being is involved in each step.</p>

				<img src="/images/homepage/big_illustrations/rsvp.png" style="display:block;margin:0 auto;width:500px;padding:1em;" />
				<div style="width:50%;margin:0 auto;text-align:center;margin-top:-3em;">

					<img src="/images/homepage/pointer_up.svg" />


					<p style="text-indent:0;text-align:center;width:90%:margin:0 auto;font-size:12pt;font-style:italic;margin:0;border:0;padding:0;">
						Our tissue paper not only looks stunning printed with your matching design, but acts as a seperator between cards to prevent ink transferring during transit.</div>

				<p>
					I know how important it is for you to be kept informed as to what's going on. I won't hide problems from you&mdash;I'll tell you straight away so you can make informed decisions.</p>

				<p>
					If you (or I!) have the slightest concerns about how your invitation is going to look in the flesh (colours on screen never look the same as on card, for example), I'll send you a print of every item in your suite in the post before printing goes ahead
					so you can be 100% confident. </p>

				<p>
					If the paper you want isn't in stock, we'll tell you as soon as you place your order and I'll be honest about how long it will take to get it back in stock so you can make an informed decision rather than taking your money and then apologising for "unexpected
					delays" later down the line.
				</p>


				<!--------------------------  BENEFIT  -->

				<div style="margin-top:0.5em;background-color:#F1EFF0;margin-top:5em;"> <img src="/images/homepage/icons/wedding-suit.svg" style="padding-top:1em;display:block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" /></div><img src="/images/furniture/triangle.svg" class="triangle" />


				<p style="padding-top:0;margin-top:0;text-align:center;font-family:GaraI;line-height:1.2em;font-size:24pt;padding-bottom:0.5em;margin-top:0;width:70%;border-bottom:1px solid black;">
					Those shoes don't go with that dress&hellip;

				</p>
				<p style="font-size:18pt;">

					Coordination.
				</p>

				<p>
					It's a long word, and it's the Holy Grail of design. </p>

				<p>
					You hold a beautiful invitation in your hand: the colours compliment one another, the typefaces are perfectly in tune with the tone of the wedding, and then you see it&hellip;</p>

				<p>
					&hellip; a fuzzy map that's been cut and pasted from Google Maps. </p>

				<p>
					a ribbon which is slightly off colour to everything else&hellip;</p>

				<p>
					Or an envelope made from a different textured paper to the invitations. </p>

				<p>
					One little thing can let the whole team down!</p>

				<p>
					It's like the fly in the Chardonnay and it spoils everything.</p>

				<p>
					To make a striking impression, every item of your stationery should match perfectly, just like an outfit.</p>

				<p>
					Co-ordination is important because it shows care and attention to detail precisely because it takes more work and effort to make things compliment one another.
				</p>
				<p>
					Poor co-ordination shows thoughtlessness and neglect. </p>

				<p>
					That's why every item in our stationery suite works in careful harmony with its siblings, from the ribbon, to the professionally tailored maps, to the tissue paper. Everything is beautifull co-ordinated to match, from the Save The Date cards to the Order
					of Service. </p>










				<!--------------------------  BENEFIT  -->

				<div style="margin-top:0.5em;background-color:#F1EFF0;"> <img src="/images/homepage/icons/wedding-suit.svg" style="padding-top:1em;display:block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" /></div><img src="/images/furniture/triangle.svg" class="triangle" />


				<p style="padding-top:0;margin-top:0;text-align:center;font-family:GaraI;line-height:1.2em;font-size:24pt;padding-bottom:0.5em;margin-top:0;width:70%;border-bottom:1px solid black;">
					Substance is as important as style&hellip;

				</p>
				<p style="font-size:18pt;">



					It's important for your invitations to look good: there's no doubt about that.</p>

				<p>
					But it's only half the battle: caught up in the delight of making sure everything looks perfect, it's very easy to forget that invitations serve a practical function too: to inform and educate your guests as much as possible about the event, and in turn,
					to make planning your wedding easier and therefore less stressful for you.

				</p>
				<p>

					To do that, you need to think of all the possible questions your guests are going to have and try to answer them in the content of your invitation.

				</p>
				<p>
					You're also going to need to figure out what information you're going to need back from them to help you plan your wedding, such as simple RSVPs for guest numbers and things like menu choices.

				</p>
				<p>
					Your guests are human, and like most humans, they're more likely to do something if it's easy and pain-free, so you also need to make it as easy as possible for them to reply.

				</p>
				<p>
					That's why those little extras, such as information enclosures and reply cards are important.

				</p>
				<p>
					A pre-addressed reply card increases your chances of getting responses quickly as it is very easy for your guests to just tick a box or two and post the card.

				</p>
				<p>
					We even print your guest names on the reply cards to make it even easier for them (and more accurate for you&mdash;leave it to your guests and believe me they won't even remember to write their own name so you won't know who the reply card is from!).

				</p>
				<p>
					No reply cards means no replies: and no replies means, among the other 101 things you need to do, you're going to have the hassle of chasing your guests to find out who is, or isn't, coming.

				</p>
				<p>
					In our experience, invitations with reply cards get around three times as many responses as invitations without!

				</p>
				<p>
					You'll find the number of details you provide about your wedding day is inversely proportional to the stress you'll experience (the more details you give, less stress for you!).

				</p>
				<img src="/images/homepage/big_illustrations/infomap.png" style="width:500px;display:block;margin:0 auto;" />
				<p>
					That's why providing an additional instruction leaflet for all the extra stuff can really make your life easierso guests don't have to hassle you with questions at the last minute:

				</p>
				<p>
					Where exactly is the venue?

				</p>
				<p>
					A simple map can save you and your bridesmaids dealing with the exasperation of answering twenty phone calls on the morning of your wedding as lost guests phone you when they've gone up the wrong country lane.

				</p>
				<p>
					What do they wear?

				</p>
				<p>
					Explaining the dress code is important if you don't want Auntie Edna turning up in that bright puce dress with the ostentatious hat.

				</p>
				<p>
					Can children come?

				</p>
				<p>
					Can they give vouchers or money instead of buying you another garlic press?

				</p>
				<p>
					It's monotonous and rage-inducing to keep hearing the same questions again and again: avoid the bitterness by answering questions in advance with a comprehensive information enclosure.

				</p>


				<script>
					$(function() {

						$("#slides").slidesjs({
							width: 2000,
							height: 1409,

							pagination: {
								active: false
							},
							effect: {
								slide: {
									speed: 1000,
								},
								fade: {
									speed: 3000,
									// [number] Speed in milliseconds of the fade animation.
									crossfade: true
										// [boolean] Cross-fade the transition.
								}
							},
							play: {
								active: false,
								auto: true,
								interval: 2500,
								effect: 'fade'
							},
							navigation: {
								active: false
							},
							callback: {
								loaded: function(n) {
									$('#slides_spinner').hide();
								}
							}
						})

						$('#form_sample').submit(function(e) {
							e.preventDefault();

							var message = {
								address: $('#address').val(),
								postcode: $('#postcode').val()
							}

							var postcode_regex = /[A-Z]{1,2}[0-9][0-9A-Z]?\s?[0-9][A-Z]{2}/gi;

							var postcode = message.postcode.match(postcode_regex);


							if (!message.address) {
								$('#error_address').text("Please enter a house name or number!")

								$('#address').css("border-color", "#B50000")

								$('#address').css("border-width", "2px")
							}
							if (!postcode) {
								$('#error_postcode').text("Please enter a valid UK postcode!")

								$('#postcode').css("border-color", "#B50000")

								$('#postcode').css("border-width", "2px")
							}
							if (message_address && postcode) {
								$.ajax({
									type: "POST",
									url: "/email",
									data: message,
									success: function(data) {}
								});
							}


						})

					})
				</script>
</body>
