.left_column {
    width: 50%;
    margin-left: 10%;
    float: left;
    margin-top: 3em;
}

.right_column {
    width: 30%;
    margin-right: 10%;
    float: right;
    margin-top: 3em;
}

.middle_column {
    clear: both;
    width: 65%;
    margin: 0 auto;
}

.product_name {
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
}
.form_panel {
  width:50%;
  margin:0 auto;
  text-align:center;

}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.blurb {
    font-style: normal;
    text-align: center;
    position: relative;
    top: -0.05em;
    padding: 1em;
    width: 75%;
    margin: 0 auto;
    border-radius: 0.5em;
    background-color: #F1EFF0;
}

.triangle_up {
    position: relative;
    top: -3em;
    z-index: 4;
}


/* Smartphone */


/* ----------------------------------------------------------------------------- */

@media all and (min-width: 260px) and (max-width: 600px) {
    .left_column, .right_column {
        margin: 0;
        padding: 0;
    }
    .left_column {
        width: 58%;
        clear: both;
    }
    .right_column {
        width: 40%;
    }
    .triangle_up {
        top: -1em;
    }
    .middle_column {
        width: 80%;
    }
    .blurb {
        padding: 0.5em;
        line-height: 1.6em;
        width: 86%;
    }
    .middle_column .triangle_up {
        top: -2em;
    }
    .middle_column .blurb {
        width: 100%;
    }
}


/* Phablet */

@media all and (min-width: 601px) and (max-width: 900px) {
    /* ----------------------------------------------------------------------------- */
    .left_column, .right_column {
        margin: 0;
    }
}
