.left_column {
    margin-left: 10%;
    margin-top: 3em;
}

.right_column {
    margin-right: 10%;
    margin-top: 3em;
}

a { border-bottom:0; }

a:hover { border-bottom: 1px dashed black; }

.blurb {
    padding: 2.5%;
    border-radius: 0.5em;
    margin-top:-0.3em;
    margin-bottom:1em;
    background-color: #F1EFF0;
}

.triangle_up {
  position:relative;
  margin:0 auto;
  margin-top:-3em;
  width:55%;
    z-index: 4;
}


/* Smartphone */
/* ----------------------------------------------------------------------------- */
@media all and (min-width: 260px) and (max-width: 600px) {

    .blurb {
        padding:0.25em;
        width:95%;
        margin:0 auto;
        margin-top:-0.5em;
    margin-bottom:1em;
      }
    .font_e, .font_f, .font_d {
  font-size: 1.211em;
    }


.triangle_up {
  position:relative;
  margin:0 auto;
  margin-top:-2em;
  width:75%;
    z-index: 4;
}
.product_name {
    font-size:2em;
}
}

/* Phablet */

@media all and (min-width: 601px) and (max-width: 1024px) {
    /* ----------------------------------------------------------------------------- */
    .left_column {
        width: 54%;
        margin-left: 1%;
        float: left;
        margin-top: 3em;
    }
    .right_column {
        width: 44%;
        margin-right: 1%;
        float: right;
        margin-top: 3em;
    }
    .middle_column {
        clear: both;
        width: 80%;
    }
    .blurb {
        padding:0.25em;
        width:95%;
        margin:0 auto;
        margin-top:-0.5em;
    margin-bottom:1em;
      }
    
    
}
