@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,600,600i');
@font-face {
    font-family: "TP";
    src: url('/fonts/t.eot?') format('eot'), url('/fonts/t.woff') format('woff');
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h3, h5, ul, p, label, .testimonial_date {
    font-family: 'Raleway';
}

h1 { font-family:'TP'}

h2 { font-family: 'Junge'; font-size:22pt; line-height:1.5em;margin:0 auto;}

h3 { font-family:'Raleway'}


h5 {
    border-bottom: 1px solid black;
    font-size: 18pt;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0 auto;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 75%;
}

h6 {
    font-size: 22pt;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 0.75em;
    text-align: center;
    width: 50%;
}
.width_small { width:50%;}
.width_medium { width:75%; }
.width_large { width:80%; }
.width_full { width:100%; }

.smaller { font-size:18pt;}
.text_center { text-align:center;}

.form_panel h5 {
    font-weight: 300;
    font-size: 16pt;
    border: 0;
    padding: 0;
    margin-bottom: 0;
}


ul {
    line-height: 1.3em;
    font-weight: 400;
    font-size: 14pt;
    text-align: left;
    list-style-type: none;
}

.form_panel ul {
    font-size: 14pt;
    padding-left: 1em;
}

li {
    margin-left: 1em;
    padding-left: 18px;
    margin-top: 1em;
    line-height: 1.6em;
    background: url('/images/homepage/bullet.svg') no-repeat;
    padding-top: 0;
    background-size: 5px;
    background-position: 0 11px;
}

p {
    line-height: 1.6em;
    font-size: 14pt;
    padding-top: 0.25em;

    padding-bottom: 0.25em;
}

a {
    color: black;
}

label {
    font-size: 12pt;
}

.error {
    text-align: center;
    font-family: 'Raleway';
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0.5em;
    font-size: 14pt;
    color: #B50000;
}

.testimonial_container {
    margin: 0 auto;
    padding: 1em;
}

.testimonial_photo {
    display: block;
    position: relative;
    float: left;
    width: 175px;
    margin-right: 2em;
}

.testimonia_quote_icon {
    width: 50px;
    float: left;
    margin-bottom: 8em;
    margin-right: 0.5em;
}

.testimonial_quote {
    font-style: italic;
    font-weight: normal;
    font-family: 'Playfair Display';
    line-height: 160%;
    padding-right: 4em;
    margin-top: 1em;
}

.testimonial_name {
    padding-top: 1em;
    font-family: 'Playfair Display SC';
    font-size: 28px;
    letter-spacing: 0.02em;
}

.testimonial_date {
    font-size: 14pt;
    padding: 0;
    margin: 0;
}

footer {
    border-top: 1px dotted black;
    padding: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}
