/* 1.414 Augmented and golden ratio 1.68*/

html {
  font-size: 17px;
}

@font-face {
  font-family: "TP";
  src: url('/fonts/t.eot?') format('eot'), url('/fonts/t.woff') format('woff');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.inline {
  display: inline;
}

.caption {
  font: 300 italic 1em /1.4em 'Raleway';
  text-align: center;
  padding-bottom: 1em;
}

.grey_background_link {
  text-decoration: none;
  background-color: #EEE;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 7px;
}

.subhead {
  line-height: 1.5em;
  font-family: "Junge";
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.body {
  font: 300 1.15em/1.5em "Raleway";
  text-align: left;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.padding_top_medium {
  padding-top: 1em;
}
.padding_bottom_none { 
  padding-bottom:0;
}

.padding_top_small {
  padding-top: 0.5em;
}

.padding_top_large {
  padding-top: 2em;
}

.padding_bottom_medium {
  padding-bottom: 1em;
}

.padding_bottom_large {
  padding-bottom: 2em;
}

ul {
  font: 300 1.15em/1.5em Raleway;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.no_text_decoration {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.quote {
  font-family: 'Playfair Display';
  line-height: 1.75em;
  text-align: center;
  font-style: italic;
  font-size: 1.15em;
}

.serif_headline {
  font-family: "TP"
}

.sans {
  font-weight: 300;
  font-family: "Raleway", sans-serif
}

.sans_caps {
  font-family: "Julius Sans One";
}

.sans_subhead {
  font-family: 'Junge'
}

.font_a {
  font-size: 3.998em
}

.font_b {
  font-size: 2.827em;
}

.font_c {
  font-size: 1.9999em;
}

.font_d {
  font-size: 1.618em;
}

.font_e {
  font-size: 1.414em;
}

.font_ee {
  font-size: 1.15em;
}

.font_f {
  font-size: 1em;
}

.font_ff {
  font-size: 0.9em;
}

.font_g {
  font-size: 0.707em;
}

.font_h {
  font-size: 0.5em;
}

.slant {
  font-style: italic;
}

.emphasised {
  font-weight: 500;
}

.letter-spaced {
  letter-spacing: 0.1em;
}

.wide_letter_spacing {
  letter-spacing: 0.2em;
}

.small_line_spacing {
  line-height: 1.25em;
}

.average_line_spacing {
  line-height: 1.5em;
}

.large_line_spacing {
  line-height: 1.75em;
}

.double_line_spacing {
  line-height: 2em;
}

.no_underline {
  text-decoration: none;
}

.text_center {
  text-align: center;
}

.text_left {
  text-align: left;
}
.width_20 { width:20%;}
.width_33 { width: 33%; }
.width_40 {
width:40%;
}
.width_66 {
  width: 66%;
}
.width_50 {
  width: 50%;
}

.width_80 {
  width: 80%;
}

.width_90 {
  width: 90%;
}

.width_95 {
  width: 95%;
}

.width_full {
  width: 100%;
}

a {
  text-decoration:none;
  border-bottom: 1px solid black;
  color: black;
}
a:hover {
  text-decoration:none;
  border-bottom:2px solid black;
}

ul {
  list-style-type: none;
}


/* Smartphone */


/* ----------------------------------------------------------------------------- */

@media all and (min-width: 260px) and (max-width: 600px) {}


/* Phablet */

@media all and (min-width: 601px) and (max-width: 900px) {
  /* ----------------------------------------------------------------------------- */
}
