#slides {
    width: 95%;
    display: none;
    margin: 0 auto;
}

#slides img {
    display: block;
    width: 100%;
}

#headline {
    background-color: white;
    border-radius: 20px;
    font-family: 'TP';
    line-height: 1.3em;
    margin: 0 auto;
    padding: 0.25em;
    position: relative;
    text-align: center;
    top: -0.5em;
    width: 50%;
    z-index: 99999999999999;
}

article {
    margin: 0 auto;
    width: 50%;
}

.divider {
    border-top: 1px dotted black;
    margin-top: 4em;
    margin-bottom: 3em;
}

#form_sample_spinner, #form_download_spinner {
    display: none;
}

.icon {
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 0;
    width: 50px;
}

.david_photo {
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 4em;
}

#david_quote_icon {
    padding-bottom: 0.5em;
    display: block;
    margin: 0 auto;
    width: 40px;
    padding-top: 0.5em
}

.image_100 {
    margin: 0 auto;
    width: 95%;
    display: block;
}


/* Smartphone */


/* ----------------------------------------------------------------------------- */

@media all and (min-width: 260px) and (max-width: 600px) {
    #slides {
        width: 100%;
    }
    #headline {
        width: 95%;
        line-height: 1.6em;
    }
    article {
        width: 90%;
        margin: 0 auto;
    }
    .david_photo {
        margin-top: 1em;
    }
}


/* Phablet *
/* ----------------------------------------------------------------------------- */

@media all and (min-width: 601px) and (max-width: 900px) {
    #slides {
        width: 100%;
    }
    .image_100 {
        width: 95%;
    }
    #headline {
        width: 85%;
        margin: 0 auto;
        font-size: 28pt;
        line-height: 1.5em;
    }
    article {
        width: 80%;
    }
}


/* Tablet */


/* ----------------------------------------------------------------------------- */

@media all and (min-width: 901px) and (max-width: 1100px) {
    #slides {
        width: 100%;
    }
    .image_100 {
        width: 95%;
    }
    #headline {
        width: 70%;
        margin: 0 auto;
        line-height: 1.5em;
    }
    article {
        width: 60%;
    }
}
