#genesis {
    border-bottom: 1px solid black;
    padding-bottom: 2em;
    margin-bottom: 2em;
    padding-top: 75px;
    width: 150px;
}

#slides {
    display: none;
}

#slides img {
    border-radius: 20px;
    display: block;
    width: 100%;
    border-bottom-left-radius: 0;
}

#inner_page_container_casamiento {
    color: #000;
    margin: 0 auto;
}

#left_column {
    width: 75%;
    float: left;
}

#right_column {
    text-align: center;
    margin-left: 75%;
}

#description {
    font-family: 'Gara';
    line-height: 1.4em;
    width: 95%;
    margin: 0 auto;
    letter-spacing: 0.05em;
    font-size: 16pt;
}

.form_panel {
    width: 98%;
    margin-top: 5em;
}

#steps {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
}

.dashed_line {
    width: 75%;
    border-top: 1px dotted black;
    margin: 0 auto;
}

.step_divider {
    background-color: #F1EFF0;
    height: 40px;
}

.step_heading {
    border-bottom: 1px solid black;
    width: 30%;
    margin: 0 auto;
}

.choice_description {
    float: left;
    text-align: left;
    width: 50%;
}

.choice_description h6 {
    text-align: left;
    margin: 0;
    font-size: 14pt;
    padding: 0;
}

.choice, .checkbox_choice {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px dotted black;
}

.choice:hover, .checkbox_choice:hover {
    background-color: #EEE;
    cursor: pointer;
}

.selected_choice {
    background-color: #EEE;
}

.choice_image {
    text-align: center;
    width: 20%;
    float: left;
}

.radio_button_container {
    float: left;
    width: 10%;
}

.radio_button, .control--checkbox {
    display: block;
    float: right;
}

.number {
    position: relative;
    top: 0.5em;
}

label {
    display: inline-block;
}


/* Smartphone */


/* ----------------------------------------------------------------------------- */

@media all and (min-width: 260px) and (max-width: 600px) {
    #slides {
        width: 100%;
        float: none;
    }
    #slides img {
        border-radius: 0;
    }
    .form_panel {
        margin: 0 auto;
        margin-top: 2em;
        width: 95%;
    }
    #left_column,
    #right_column {
        float: none;
        clear: both;
        width: 100%;
    }
    #steps {
        width: 100%;
    }
    .testimonial_photo {
        float: none;
        margin: 0 auto;
    }
    .testimonial_quote {
        margin: 0 auto;
    }
    .checkbox_choice, .choice {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px dotted black;
    }
}


/* Phablet */

@media all and (min-width: 601px) and (max-width: 900px) {
    /* ----------------------------------------------------------------------------- */
    #slides {
        width: 100%;
    }
    #left_column, #right_column {
        width: 100%;
        clear: both;
        float: none;
    }
    .form_panel {
        width: 75%;
    }
    .choice, .checkbox_choice {
        width: 80%;
    }
    #right_column {
        width: 80%;
    }
}
