@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

#genesis {
    padding-top: 75px;
    width: 140px;
}

#left_column {
    width: 73%;
    float: left;
}

#slides {
    display: none;
}

#slides img {
    border-radius: 20px;
    display: block;
    width: 100%;
    border-bottom-left-radius: 0;
}

#share_icon {
    width: 30px;
    opacity: 0.35;
    display: block;
    float: right;
    padding: 6px;
}

#pinit, #facebook {
    float: right;
    padding: 4px;
    width: 30px;
}

#pinterest_button, #facebook_button {
    width: 100%;
    opacity: 0.35;
}
#pinterest_button:hover, #facebook_button:hover {
    opacity: 1;
    cursor: pointer;
}

#product_name {
    clear: both;
    letter-spacing: 0.2em;
    padding-top: 0.25em;
}

#description {
    line-height: 1.9em;
    width: 65%;
    margin-bottom: 2em;
}

#steps {
    width: 80%;
    margin: 0 auto;
}

h3 {
    font-size: 12pt;
    font-style: italic;
    line-height: 1.6em;
}

h4 {clear:both;
    padding-top: 2em;
    padding-bottom:1em;
    letter-spacing: 0.05em;
    border-bottom: 1px solid black;
}

h6 {
    padding: 0;
    margin: 0;
    padding-bottom: 0.5em;
    font-weight: 100;
    font-size: 16pt;
    text-align: left;
}

h6.deselected {
    color: #999;
}

.dashed_line {
    border-top: 1px dotted black;
    margin: 0 auto;
    width: 75%;
}

.choice, .checkbox_choice {
    margin: 0 auto;
    clear:both;
    border-top: 1px dotted black;
    padding-top:1em;
    float:none;
}

.choice:hover, .checkbox_choice:hover {
    background-color: #EEE;
    cursor: pointer;
}

.selected_choice {
    background-color: #EEE;
  }
  .choice_image {
      text-align: center;
      width: 16%;
      padding:4%;
      float: left;
  }

  .radio_button_container {
      float: left;
      width: 4%;
      padding:2%;
      padding-top:2.4em;
  }
  .choice_description {
      text-align: left;
      width: 36%;
      padding-top:2.25em;
      float:left;
      padding-bottom:2em;
  }

  .choice_price {
      float: right;
      font-family: 'Julius Sans One';
      font-size: 22pt;
      padding-top: 2em;
      width: 16%;
      text-align: center;
  }


.radio_button, .control--checkbox {
    display: block;
    float: right;
}

  .no_border {
    border:0;
  }
#right_column {
    text-align: center;
    margin-left: 74%;
}

.testimonial_container {
    margin: 0 auto;
    margin-top: 10em;
}

.testimonial_photo {
    float: none;
    margin: 0 auto;
}

.testimonial_quote_icon {
    padding: 1em;
    width: 60px;
}

.testimonial_quote {
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


/* Smartphone */


/* ----------------------------------------------------------------------------- */

@media all and (min-width: 260px) and (max-width: 600px) {
    #slides {
        width: 100%;
        float: none;
    }
    #slides img {
        border-radius: 0;
    }
    #left_column, #right_column {
        float: none;
        clear: both;
        margin: 0;
        width: 100%;
    }
    #steps {
        width: 100%;
    }
    #description {
        width: 80%;
    }
    h4 { padding-left:0.5em;}
    .testimonial_photo {
        float: none;
        margin: 0 auto;
    }
    .testimonial_quote {
        margin: 0 auto;
    }
    .checkbox_choice, .choice {
        width: 100%;
        margin: 0 auto;
    }

    .choice_image {
      float:none;
    margin:0 auto;
    }
    .radio_button_container {
      padding:0;
      width: 15%; float:left;text-align:right;

    }
    .choice_description {
      padding:0;
      float:left;
      width:75%;
    }
    .choice_price {
      width:40%;
      clear:both;
      float:none;
      margin:0 auto;
      padding:0;
    }
}


/* Phablet */

@media all and (min-width: 601px) and (max-width: 900px) {
    /* ----------------------------------------------------------------------------- */
    #slides {
        width: 100%;
    }
    #left_column, #right_column {
        width: 100%;
        clear: both;
        float: none;
        margin: 0;
    }
    .choice, .checkbox_choice {
        width: 80%;
    }
}
