/* 1.414 Augmented and golden ratio 1.68*/

html { font-size: 17px; }

body {
    margin: 0;
    padding: 0;
}


/* ELEMENTS
=============================================================================
================================================================================
=================================================================================*/

#casamiento_logo {
    position: fixed;
    width: 182px;
    padding: 5px;
    border-bottom-right-radius: 10px;
}

#browse_container {
    width: 225px;
    position: fixed;
    right: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 5px 5px 5px;
    z-index:999999999999999999999999999999999999999999999999999999999999999999;
}

#headline {
    border-radius: 20px;
    position: relative;
    top: -0.5em;
}

#sample_box {
    width:60%;
    max-width:225px;
}

video {
    border-radius: 50px;
    background: transparent url('/images/furniture/360.gif') no-repeat 0 0;
    background-position: center;
    background-size: 40px 40px;
    -webkit-overflow-scrolling: touch;
}

.icon {
    padding-top: 1em;
    padding-bottom: 0;
    width: 50px;
}

.small_icon {
   width:32px;
   opacity:0.33;
}

#book { width: 50px; }

#dreams_slogan {
    right: 0;
    padding-left: 5px;
    position: fixed;
    border-bottom-left-radius: 10px;
    width: 180px;
}

footer {
    padding:2em;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.element_hover {
    opacity:0.5;
}
.element_hover:hover {
    opacity:1;
    cursor:pointer;
}

.shell {
    background-color: #fff;
    padding: 0.25em;
    width: 25px;
    position: relative;
    top: -0.75em;
}

.flourish { width:55px;position:relative;top:-0.75em;padding:0.25em;background-color:#fff }


#genesis {
    padding-top: 75px;
    width: 140px;
}
img,
.centred,
.subhead {
    display: block;
    margin: 0 auto;
    text-align: center;
}

img,
.full_width {
    width: 100%;
}
.embel {
    /* better - will help on webkit */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);

    /* best - images are very crisp */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
}


/*FONTS *
=============================================================================================================
=============================================================================================================
=============================================================================================================
=============================================================================================================*/

@font-face {
  font-family: "TP";
  src: url('/fonts/t.eot?') format('eot'), url('/fonts/t.woff') format('woff');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.body {
  font: 300 1.15em/1.5em "Raleway";
  text-align: left;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.caption {
  font: 300 italic 1em /1.4em 'Raleway';
  text-align: center;
  padding:0;
  position:relative;top:-2em;
}

.subhead {
  line-height: 1.5em;
  font-family: "Junge";
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.no_text_decoration {  text-decoration: none;}

.serif { font-family:'Playfair Display SC'; }
.serif_body { font-family:'Playfair Display'; }
.serif_headline {  font-family: "TP"}

.sans {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.sans_caps { font-family: "Julius Sans One";}
.sans_subhead { font-family: 'Junge'}

.font_a { font-size: 3.998em; }

.font_aa { font-size: 3.2em; }
.font_b { font-size: 2.827em; }
.font_c { font-size: 1.9999em; }
.font_d { font-size: 1.618em; }
.font_e { font-size: 1.414em; }
.font_ee { font-size: 1.15em; }
.font_f { font-size: 1em; }
.font_ff { font-size: 0.9em; }
.font_g { font-size: 0.707em; }
.font_h { font-size: 0.5em; }

.slant {  font-style: italic; }
.emphasised {  font-weight: 500;}
.no_underline { text-decoration: none; }

.letter-spaced {  letter-spacing: 0.1em;}
.wide_letter_spacing {  letter-spacing: 0.2em;}

.small_line_spacing {  line-height: 1.25em;}
.average_line_spacing {  line-height: 1.5em;}
.large_line_spacing {  line-height: 1.75em;}
.double_line_spacing {  line-height: 2em;}
.triple_line_spacing {  line-height: 2.5em;}

.text_center {  text-align: center; }
.text_left { text-align: left; }

a {
  text-decoration:none;
  color:black;
}
.boxed_link {
    padding:2px;
    border:1px dashed grey;
}
.boxed_link:hover {
    border: 1px solid black;
}

.quantity_box:hover {
    cursor: pointer;
    color: #000;
    border: 1px solid grey;
}



/* BORDERS and PADDING
---------------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/
.rounded_corner_20 { border-radius:20px; }
.rounded_corner_30 { border-radius:30px; }
.small_rounded_border {    border-radius:0.5em;}

.no_border { border: 0; }
.top_dotted { border-top: 1px dotted black; }
.top_solid { border-top: 1px solid black; }
.bottom_solid { border-bottom: 1px solid black; }
.bottom_dotted { border-bottom: 1px dotted black; }

.margin_top_small { margin-top:0.5em; }
.margin_top_medium { margin-top:1em; }
.margin_top_large { margin-top:2em; }
.margin_top_larger { margin-top:3.5em; }
.margin_top_xlarge { margin-top:6em; }

.margin_bottom_small { margin-bottom:0.5em; }
.margin_bottom_medium { margin-bottom:1em; }
.margin_bottom_large { margin-bottom:2em; }
.margin_bottom_larger { margin-bottom:3.5em; }
.margin_bottom_xlarge { margin-bottom:6em; }

.padding_3px { padding:3px; }

.padding_left_small { padding-left:0.5em; }
.padding-right_small { padding-right:0.5em; }

.padding_top_small { padding-top: 0.5em; }
.padding_top_medium { padding-top: 1em; }
.padding_top_large { padding-top: 2em; }
.padding_top_larger { padding-top: 3.5em; }
.padding_top_xlarge { padding-top: 6em; }

.padding_bottom_none { padding-bottom:0; }
.padding_bottom_medium { padding-bottom: 1em; }
.padding_bottom_large { padding-bottom: 2em; }
.padding_bottom_xlarge { padding-bottom: 6em; }

.small_padding { padding:1em; }


/* SIZING
----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------*/
.w55px { width:55px; }
.w50px { width:50px; }
.w40px { width: 40px; }
.w20px { width: 20px; }
.w25px { width:25px; }
.w10px { width: 10px; }
.w30px { width: 30px; }
.w35px { width:35px; }
.w12px { width: 12px; }
.w15px { width: 15px; }
.w150px { width:150px; }
.w80px { width:80px; }

/* POSITIONING
--------------------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/
.bring_to_front {
    z-index: 500;
    background-color: #fff;
}

.valign_middle { vertical-align:middle }

.margin_left_70 { margin-left: 70%; }
.negative_top_margin { margin-top:-4vw; }
.negative_top_margin_small { margin-top:-2vw; }


.left { float: left; }
.right { float: right; }
.hidden { display:none; }
.clear { clear: both; }

.inline {  display: inline; }
.block { display:block; }
.inline_block { display:inline-block; }

.width_2 { width:2%; }
.width_10 { width:20%; }
.width_20 { width:20%; }
.width_30 { width:30%; }
.width_33 { width:33%; }
.width_40 { width:40%; }
.width_50 { width:50%; }
.width_60 { width:60%; }
.width_66 { width:66%; }
.width_70 { width:70%; }
.width_75 { width:75%; }
.width_80 { width: 80%; }
.width_85 { width: 85%; } 
.width_90 { width: 90%; }
.width_95 { width: 95%; }
.width_full { width: 100%; }


/* HOVER
---------------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

a:hover { text-decoration:none; }

.hover_1_underline:hover { border-bottom:1px solid black;}
.hover_1_underline_dotted:hover { border-bottom:1px dotted black;}
.hover_2_underline:hover {  border-bottom:2px solid black;}
.hover_2_underline_dotted:hover { border-bottom:2px dotted black;}

.hover_opacity { opacity:0.3; }
.hover_opacity:hover { opacity:1; cursor:pointer;}



/*COLOURS
----------------------------------------------------
-------------------------------------------------------
--------------------------------------------------------*/

.choice, .checkbox_choice { color:#666; }
.selected_choice { background-color: #EEE;  color:black; }
.light_grey_background { background-color: #F1EFF0; }
.green { color: #81BF08; }
.green_background { background-color: #81BF08; }
.hover_grey:hover { background-color:#EEE; cursor:pointer; }

.max_width_200 { max-width:200px; }
.flexbox, .options_flex {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}

.flexbox_item { width:275px; }

.opacity9 { opacity:0.9; }
.opacity8 { opacity:0.8; }
.opacity7 { opacity:0.7; }
.opacity6 { opacity:0.6; }
.opacity5 { opacity:0.5; }
.opacity4 { opacity:0.4; }
.opacity3 { opacity:0.3; }
.full_opacity { opacity:1; }

.opacity1_on_hover:hover { opacity:1 }











/* Tablet */
@media all and (min-width: 800px) and (max-width: 1200px) {
    /* ----------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------- */
    #casamiento_logo {
        width: 170px;
    }
    #dreams_slogan {
        width: 160px;
        padding-top: 10px;
    }
    .tablet_full_width {
        width:100%;
        float:none;
        clear:both;
        margin:0;
    }
    .no_padding_tablet { padding:0;}
    .tablet_width_40 { width:40%; }
    .tablet_width_50 { width:50%; }
    .tablet_width_60 { width:60%; }
    .tablet_width_70 { width:70%; }
    .tablet_width_80 { width:80%; }
    .tablet_width_90 { width:90%; }
}

/* Phablet */
@media all and (min-width: 600px) and (max-width: 800px) {
    /* ----------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------- */
    /* ----------------------------------------------------------------------------- */
    #casamiento_logo { width: 170px; }
    #dreams_slogan {
        width: 160px;
        padding-top: 10px;
    }
    .phablet_clear {
        float:none;
        clear:both;
    }

    .no_padding_phablet { padding:0; }

    .phablet_centred {
        display:block;
        margin:0 auto;
    }

    .phablet_font_a { font-size: 2.827em; }
    .phablet_font_aa { font-size: 2.4em; }
    .phablet_font_b { font-size:1.999em; }
    .phablet_font_c { font-size:1.618em; }
    .phablet_font_d { font-size: 1.414em; }
    .phablet_font_e { font-size: 1.15em; }
    .phablet_font_ee { font-size: 1em; }

    #slides img { border-radius:0; }

    .phablet_full_width {
        width:100%;
        float:none;
        clear:both;
        margin:0;
    }
    .phablet_width_40 { width:40%; }
    .phablet_width_50 { width:50%; }
    .phablet_width_60 { width:60%; }
    .phablet_width_70 { width:70%; }
    .phablet_width_80 { width:80%; }
    .phablet_width_90 { width:90%; }
    .phablet_width_95 { width:95%; }
}


/* Smartphone */
@media all and (min-width: 100px) and (max-width: 600px) {
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */ 
#casamiento_logo {
        position: static;
        width: 120px;
        float: left;
        border-bottom-right-radius: 5px;
    }
    #browse_container { width: 82px; }

    #book {
        width: 25px;
        margin: 0 auto;
        padding-top: 2px;
    }
    #headline { position:static; padding-top:0.5em;}
    #dreams_slogan {
        padding-top: 8px;
        float: right;
        position: static;
        padding-left: 2px;
        border-bottom-left-radius: 5px;
        width: 135px;
        z-index:500000000000000000000000;
    }

    .shell { width: 20px; }

    #slides img {
        border-radius: 0;
    }

    .mob_font_a { font-size: 2.827em; }
    .mob_font_b { font-size:1.999em; }
    .mob_font_c { font-size:1.618em; }
    .mob_font_d { font-size: 1.414em; }
    .mob_font_e { font-size: 1.15em; }
    .mob_font_ee { font-size: 1em; }

    .mobile_padding_left_and_right {
        padding-left: 1em;
        padding-right: 1em;
    }

    .no_padding_mobile { padding:0; }

    .clear_mobile {
        float: none;
        clear: both;
    }

    .mobile_no_rounded {    border-radius:0; }

    .mobile_centred{ margin:0 auto; }
    .mobile_full_width {
        width: 100%;
        float: none;
        clear: both;
        margin:0;
    }

    .padding_top_xlarge { padding-top:3em; }
    .padding_bottom_xlarge {padding-bottom:4em; }
    .mobile_width_10 {  width:10%;  }
    .mobile_width_20 {  width:20%;  }
    .mobile_width_40 {  width:40%;  }
    .mobile_width_50 {  width:50%;  }
    .mobile_width_60 {  width:60%;  }
    .mobile_width_80 {  width:80%;  }
    .mobile_width_90 {  width:90%;  }
    .mobile_width_95 {  width:95%;  }
    .mobile_width_97 {  width:97%;  }

    .testimonial_photo {
        float: none;
        margin: 0 auto;
        width: 50%;
        max-width: 180px;
        padding: 0;
    }

    footer {
        flex-direction:column;
        justify-content:center;
        text-align:center;
    }
}


/* Tinyphone */
@media all and (min-width: 100px) and (max-width: 360px) {
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

    #browse_container {
        width: 80px;
        font-size:0.9em;

        padding: 0 2px 2px 2px;
    }

    #casamiento_logo {
        width: 115px;
        padding: 2px;
    }
    #dreams_slogan {
        padding-top: 8px;
        width: 116px;
        padding-right:2px;
    }
}
