body {
    margin: 0;
    padding: 0;
}

#casamiento_logo {
    position: fixed;
    width: 182px;
    padding: 5px;
    border-bottom-right-radius: 10px;
}

#browse_container {
    width: 225px;
    position: fixed;
    right: 0;
    left: 0;
    text-decoration:none;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 0 5px 5px 5px;
}

#browse_container a:hover {
    border-bottom:1px solid;
}

#book {
    vertical-align: middle;
    width: 50px;
}

#dreams_slogan {
    right: 0;
    padding-left: 5px;
    position: fixed;
    border-bottom-left-radius: 10px;
    width: 180px;
}

img,
.centred,
.subhead {
    display: block;
    margin: 0 auto;
    text-align: center;
}

img,
.full_width {
    width: 100%;
}

.left { float: left; }
.right { float: right; }
.hidden { display:none; }
.clear { clear: both; }

.margin_left_70 { margin-left: 70%; }
.negative_top_margin { margin-top:-4vw; }

.width_20 { width:20%; }
.width_30 { width:30%; }
.width_33 { width: 33%; }
.width_40 { width:40%; }
.width_66 { width: 66%; }
.width_60 { width:60%; }
.width_50 { width: 50%; }
.width_70 { width:70%; }
.width_80 { width: 80%; } 
.width_90 { width: 90%; }
.width_95 { width: 95%; }
.width_full { width: 100%; }
/*.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

.small_padding { padding:1em; }
.quarter_padding_vertical {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.half_padding_vertical {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}


.no_border { border: 0; }
.top_dotted { border-top: 1px dotted black; }
.top_solid { border-top: 1px solid black; }
.bottom_solid { border-bottom: 1px solid black; }
.bottom_dotted { border-bottom: 1px dotted black; }

#slides { display:none; }
.pointer { width: 12px; }

.bring_to_front {
    z-index: 500;
    background-color: #fff;
}

.deselected {
    color: #999;
}
.last {
    border-bottom: 1px dotted black;
    padding-bottom: 3em;
    margin-bottom: 3em;
}


.light_grey_background { background-color: #F1EFF0; }
.green { color: #81BF08; }
.green_background { background-color: #81BF08; }

.shell {
    background-color: #fff;
    padding: 0.25em;
    width: 25px;
    position: relative;
    top: -0.75em;
}

.flourish { width:55px;position:relative;top:-0.75em;padding:0.25em;background-color:#fff }

.testimonial_container {
    margin-top: 2em;
    padding-top: 2em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.testimonial_photo {
    width: 25%;
    float: right;
    margin-left: 5%;
    padding-bottom: 2em;
}

.testimonial_quote_icon {
    width: 40px;
}

.testimonial_name {
    font-family: 'Playfair Display SC';
}

.small_rounded_border {
    border-radius:0.5em;
}


footer {
    padding:2em;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}


/* Phablet */
@media all and (min-width: 601px) and (max-width: 1024px) {
    /* ----------------------------------------------------------------------------- */
    #casamiento_logo {
        width: 170px;
    }
    #dreams_slogan {
        width: 160px;
        padding-top: 10px;
    }
    .tablet_full_width {
        width:100%;
        float:none;
        clear:both;
        margin:0;
    }
    .tablet_width_50 { width:50%; }
    .tablet_width_60 { width:60%; }
    .tablet_width_70 { width:70%; }
    .tablet_width_80 { width:80%; }
    .tablet_width_40 { width:40%; }
}

/* Smartphone */
@media all and (min-width: 260px) and (max-width: 600px) {
/* ----------------------------------------------------------------------------- */
    .mobile_full_width {
        width: 100%;
        float: none;
        clear: both;
        margin:0;
    }
    .mobile_width_95 {
        width:97%;
    }
    .mobile_width_80 {
        width:80%;
    }
    .mobile_width_90 {
        width:90%;
    }
    #casamiento_logo {
        position: static;
        width: 120px;
        float: left;
        border-bottom-right-radius: 5px;
    }
    #browse_container { width: 82px; }
    
    #book {
        width: 25px;
        margin: 0 auto;
        padding-top: 2px;
    }
    #dreams_slogan {
        padding-top: 8px;
        float: right;
        position: static;
        padding-left: 2px;
        border-bottom-left-radius: 5px;
        width: 135px;
        z-index:500000000000000000000000;
    }
    .shell {
        width: 20px;
    }
    
    .testimonial_photo {
        float: none;
        margin: 0 auto;
        width: 50%;
        max-width: 180px;
        padding: 0;
    }
    .testimonial_quote {
        margin: 0 auto;
        padding: 0;
    }
    .testimonal_quote_icon {
        margin: 0 auto;
    }
    footer {
        flex-direction:column;
        justify-content:center;
        text-align:center;
    }
}
