

<!--
<div>

	<img src="/images/furniture/007-commerce.svg" style="width:50px;padding:1em;padding-top:2em;padding-bottom:0.25em;" />

	<h2 class="sans_subhead width_66 font_c average_line_spacing centred text_center">Place your order today&hellip;</h2>

	<p class="width_66 centred font_ee small_line_spacing sans">&hellip;we require only a 10% deposit to start working on your stationery</p>

</div>



		<div id="steps" class="full_width mob_full_width phablet_full_width tablet_full_width centred margin_bottom_xlarge">




<% include("options", { options:options}) %>
<% include("show_quantities")%>

				<button type="submit" class="clear pure-button pure-button-primary margin_top_medium margin_bottom_medium">Place order now<br/>
				<img src="/images/furniture/bag.svg" class="padding_top_small" style="width:55px;" /></button>

				</div>


<script>
	var caz_options = <%- JSON.stringify(options) %>
</script>
-->

