

				<!---------------------------------------------------------
				-------------------------------------------------------
				------------------------------------------------------- ENVELOPE STYLE -->


				<h4 class="font_e bottom_solid sans_caps padding_top_large padding_bottom_medium">Choose your envelope style</h4>


				<div class="choice clearfix choice_envelopestyle no_border" id="envelopestyle_plain">

					<div class="choice_image">
						<img src="/images/product/envelope_plain.svg" style="width:60px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">
	<input type="radio" name="envelopestyle" value="plain" checked="checked"/>
				<div class="control__indicator"></div>

																																																			</label>
					</div>
					<div class="choice_description">
						<h6 class="sans font_ee">Plain</h6>

						<h3 class="sans slant font_ff padding_top_small average_line_spacing">Unprinted envelopes in the same texture as your chosen card texture above.</h3>
					</div>

				</div>



				<div class="choice clearfix choice_envelopestyle " id="envelopestyle_boxplain">

					<div class="choice_image">
						<img src="/images/product/envelope_box_plain.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																																				<input type="radio" value="boxplain" name="envelopestyle"/>
																																																				<div class="control__indicator"></div>

																																																			</label>
					</div>
					<div class="choice_description">
					<h6 class="deselected sans font_ee">Plain envelope box</h6>

						<h3 class="sans slant font_ff padding_top_small average_line_spacing">Envelope boxes make opening your invitation feel like opening a gift. Not only do they keep your invitations safer, but they are essential for invitations with embellishments such as ribbons and for invitations containing a lot of enclosures (reply cards, direction cards).</h3>
					</div>


															<div class="choice_price deselected">
															+£0.50
															</div>

				</div>




				<div class="choice clearfix choice_envelopestyle " id="envelopestyle_matching">

					<div class="choice_image">
						<img src="/images/product/envelope_matching.png" style="width:60px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																																				<input type="radio" value="matching" name="envelopestyle"/>
																																																				<div class="control__indicator"></div>

																																																			</label>
					</div>


					<div class="choice_description">
					<h6 class="deselected sans font_ee">Matching</h6>

						<h3 class="sans slant font_ff  padding_top_small average_line_spacing">Printed inside and outside with a beautiful matching intricate design, this is the ultimate choice for stunning invitations.</h3>
					</div>


															<div class="choice_price deselected">
															+£0.25
															</div>

				</div>





				<div class="choice clearfix choice_envelopestyle " id="envelopestyle_boxmatching">

					<div class="choice_image">
						<img src="/images/product/envelope_box_matching.png" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">
	<input type="radio"	value="boxmatching" name="envelopestyle"/>
													<div class="control__indicator"></div>
							</label>
					</div>

					<div class="choice_description">
					<h6 class="deselected sans font_ee">Matching envelope box</h6>

						<h3 class="sans slant font_ff  padding_top_small average_line_spacing">The absolute pinnacle of invitation envelopes.</h3>
					</div>


															<div class="choice_price deselected">
															+£0.85
															</div>

				</div>













