<h4 class="font_e sans_caps bottom_solid padding_bottom_medium padding_top_large">Choose your embellishment</h4>

<div class="choice choice_embellishment bottom_dotted clearfix" id="embellishment_ribbon">
	
	<div class="choice_image"><img src="/images/product/ribbon.png" style="width:80px;" /></div>
	
	<div class="radio_button_container">
					
		<label class="radio_button control control--radio">
			<input type="radio" name="embellishment" value="ribbon" checked="checked"/>
			<div class="control__indicator"></div>
		</label>
	</div>
	
	<div class="choice_description">
		<h6 class="sans font_ee">Ribbon</h6>
		<h3 class="sans font_ff slant padding_top_small average_line_spacing">To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
	</div>
	
	<div class="choice_price deselected">
		+£0.35
	</div>

</div>


<div class="choice choice_embellishment bottom_dotted clearfix" id="embellishment_pearl">

	<div class="choice_image">
		<img src="/images/product/pearl.png" style="width:80px;" />
	</div>


	<div class="radio_button_container">
		<label class="radio_button control control--radio">
			<input type="radio" value="pearl" name="embellishment" />
			<div class="control__indicator"></div>
		</label>
	</div>

	<div class="choice_description">
		<h6 class="deselected sans font_ee">Pearl buckle</h6>

		<h3 class="sans slant deselected font_ff padding_top_small average_line_spacing">To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
	</div>

	<div class="choice_price deselected">
		+£1.11
	</div>
</div>

<div class="choice choice_embellishment clearfix" id="embellishment_wrap">

	<div class="choice_image">
		<img src="/images/product/wrap.png" style="width:80px;" />
	</div>


	<div class="radio_button_container">
		<label class="radio_button control control--radio">
			<input type="radio" value="wrap" name="embellishment" />
			<div class="control__indicator"></div>
		</label>
	</div>
	
	<div class="choice_description">
		<h6 class="deselected sans font_ee">Paper wrap</h6>
	
		<h3 class="sans slant deselected font_ff average_line_spacing padding_top_small">To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>	
	</div>

	<div class="choice_price deselected">
		+£0.25
	</div>
</div>
