<img src="/images/logo/genesis_product.svg" id="genesis" style="padding-bottom:2em;" />

		<div class="top_solid full_width"></div>

		<img src="/images/furniture/flourish.svg" class="flourish" />
<div id="sample_container">
<img src="/images/homepage/icons/sample.svg" style="width:40px;padding:1em;padding-top:2em;padding-bottom:0.25em;" />

<h2 class="sans_subhead width_66 font_c average_line_spacing centred text_center">Get a sample&hellip;</h2>

<p class="width_66 centred font_ee small_line_spacing sans">&hellip;of this stunning invitation suite, posted to you today, for just <span style="text-decoration: line-through;">£1.99</span> 99p. All samples are refunded if you place an order:</p>

<img src="/images/invitations/birds-of-paradise-diamante-spirals/sample.jpg" style="width:95%;padding-top:2em;max-width:235px;" />
<%- include('.././partials/html_flexbox_benefits') %>

<p  class="font_e subhead width_80">Get your sample suite containing all these beautiful items for just 99p: just click the PayPal button now&hellip;
</p>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="pure-form form-aligned">
	
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="business" value="paypal@dizzy.co.uk">
   <!-- Specify details about the item that buyers will purchase. -->
  <input type="hidden" name="item_name" value="<%- page %>">
  <input type="hidden" name="amount" value="0.99">
  <input type="hidden" name="currency_code" value="GBP">
  
<!--	<input type="hidden" name="page" id="page" value="<%- page %>"></input> -->
	<button type="submit"  class="width_70 margin_top_2em centred pure-button pure-button-primary">
	<img src="/images/ppcom-white.svg" id="paypal_logo" style="width:140px;" />
	</button>

</form>


</div>

						<!-- TESTIMONIAL--------------------------------------------------------------------------------------------------------------------------------------------->

			<div id="testimonial_1" class="testimonial_container phablet_width_70 tablet_width_70 centred">

				<img src="/images/homepage/davina.jpg" class="width_40 max_width_200  margin_top_2em padding_bottom_medium" />

				<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />

				<p class="double_line_spacing font_ee centred padding_top_medium serif_body slant width_80">It&rsquo;s all the little touches, the envelopes look so special! And the way the vellum is imprinted with your own design&hellip; it just feels and looks so luxurious and classy: my guests were all really impressed as my stationery really did stand
					out from the crowd. Plus they didn&rsquo;t break the bank like I thought they would!”</p>

				<p class="font_d mob_font_d  average_line_spacing padding_top_medium serif">&mdash;	<a href="http://www.facebook.com/davina.cloke" class="bottom_dotted hover_1_underline">Davina Cloke</a>
					<a href="http://www.facebook.com/davina.cloke"><img src="/images/social_media_buttons/facebook-logo-1.svg" style="width:20px;opacity:0.7;display:inline;"></a>
				</p>

				<p class="sans_subhead font_f padding_top_small">married August 2015</p>

			</div>
				<!---------------------------------------------------------------------------------------------------------------------------------------------->
			
			
			


</div>
