<h4 class="font_e sans_caps bottom_solid padding_bottom_medium padding_top_large">Choose your card texture</h4>

<div class="options_flex choice choice_texture bottom_dotted padding_top_large hover_grey padding_bottom_large mobile_padding_left_and_right selected_choice" id="texture_plain">

	<div class="choice_image full_width mobile_full_width padding_top_small padding_bottom_large">
		<img src="/images/product/paper_plain.svg" style="width:70px;" />
	</div>


	<div class="radio_button_container width_10">
		<label class="radio_button control control--radio">
	
			<input type="radio" name="texture" value="plain" checked="checked"/>
			<div class="control__indicator"></div>
	
		</label>
	</div>
	<div class="choice_description width_50 mobile_width_90 text_left">
		<h6 class="sans font_ee">Smooth plain</h6>

		<h3 class="sans slant font_ff average_line_spacing padding_top_small">Smooth, matt, white card: no texture or gloss. It might be the lowest-cost option, but don't underestimate the beauty of simplicity: this thick, 400gsm card feels gorgeous in your hands. Works brilliantly with our more contemporary designs.</h3>
	</div>

	<div class="choice_price  width_20 mobile_full_width sans font_ee padding_top_small padding_bottom_small centred">
		Standard
	</div>

</div>




<div class="options_flex choice choice_texture bottom_dotted padding_top_large hover_grey padding_bottom_large mobile_padding_left_and_right" id="texture_hammered">

	<div class="choice_image full_width mobile_full_width  padding_top_small padding_bottom_large">
		<img src="/images/product/paper_hammered.svg" style="width:70px;" />
	</div>


	<div class="radio_button_container width_10">
		<label class="radio_button control control--radio">

																																<input type="radio" value="hammered" name="texture" />
																																<div class="control__indicator"></div>

																															</label>
	</div>
	<div class="choice_description width_50 mobile_width_90 text_left">
		<h6 class=" sans font_ee">Hammered</h6>

		<h3 class="sans slant average_line_spacing font_ff padding_top_small">This texture has indentations produced or appearing to have been produced by hammering, and is considered a traditional choice for wedding invitations: works well with our floral and vintage styles.</h3>
	</div>


	<div class="choice_price  width_20 mobile_full_width sans font_ee padding_top_small padding_bottom_small centred text_left">
		+£0.24
	</div>
</div>



<div class="options_flex choice choice_texture bottom_dotted padding_top_large padding_bottom_large hover_grey mobile_padding_left_and_right" id="texture_linen">

	<div class="choice_image full_width mobile_full_width padding_top_small padding_bottom_large">
		<img src="/images/product/paper_linen.svg" style="width:70px;" />
	</div>


	<div class="radio_button_container width_10">
		<label class="radio_button control control--radio">

																																<input type="radio" value="linen" name="texture"/>
																																<div class="control__indicator"></div>

																															</label>
	</div>
	<div class="choice_description width_50 mobile_width_90 text_left">
		<h6 class=" sans font_ee">Linen</h6>

		<h3 class="sans slant average_line_spacing padding_top_small font_ff">Linen paper looks and feels like the fine linen fabric for which it is named. It has a subtle embossed texture with a crosshatch pattern that is reminiscent of a fine linen table cloth.</h3>
	</div>



	<div class="choice_price width_20  mobile_full_width sans font_ee padding_top_small padding_bottom_small centred text_left">
		+£0.24<br/>
		<span class="font_g sans">per invite</span>
	</div>
</div>





<div class="options_flex choice choice_texture bottom_dotted padding_top_large padding_bottom_large hover_greymobile_padding_left_and_right hover_grey" id="texture_pearlescent">

	<div class="choice_image full_width mobile_full_width padding_top_small padding_bottom_large">
		<img src="/images/product/paper_pearlescent.svg" style="width:70px;" />
	</div>


	<div class="radio_button_container width_10">
		<label class="radio_button control control--radio">

																																<input type="radio" value="pearlescent" name="texture"/>
																																<div class="control__indicator"></div>

																															</label>
	</div>
	<div class="choice_description width_50 mobile_width_90 text_left">
		<h6 class=" sans font_ee">Pearlescent</h6>

		<h3 class="sans slant padding_top_small font_ff average_line_spacing">This crème de la crème of card, pearlescent has a luxurious sheen on both sides that glistens in the light and gives the ink an almost metallic feel&mdash;greys look like silver, yellows can look gold.</h3>
	</div>



	<div class="choice_price width_20  mobile_full_width sans font_ee padding_top_small padding_bottom_small centred text_left">
		+£0.45
	</div>

</div>






<!-- KRAFT -------------------------------------------------------------------->

<div class="options_flex choice choice_texture bottom_dotted padding_top_large padding_bottom_large hover_grey mobile_padding_left_and_right" id="texture_linen">

	<div class="choice_image full_width mobile_full_width padding_top_small padding_bottom_large">
		<img src="/images/product/paper_kraft.svg" style="width:70px;" />
	</div>


	<div class="radio_button_container width_10">
		<label class="radio_button control control--radio">

																																<input type="radio" value="linen" name="texture"/>
																																<div class="control__indicator"></div>

																															</label>
	</div>
	<div class="choice_description width_50 mobile_width_90 text_left">
		<h6 class=" sans font_ee">Kraft</h6>

		<h3 class="sans slant average_line_spacing padding_top_small font_ff">Linen paper looks and feels like the fine linen fabric for which it is named. It has a subtle embossed texture with a crosshatch pattern that is reminiscent of a fine linen table cloth.</h3>
	</div>



	<div class="choice_price width_20  mobile_full_width sans font_ee padding_top_small padding_bottom_small centred text_left">
		+£0.24<br/>
		<span class="font_g sans">per invite</span>
	</div>
</div>






<!-- KRAFT -------------------------------------------------------------------->

<div class="options_flex choice choice_texture bottom_dotted padding_top_large padding_bottom_large hover_grey mobile_padding_left_and_right" id="texture_linen">

	<div class="choice_image full_width mobile_full_width padding_top_small padding_bottom_large">
		<img src="/images/product/paper_laid.svg" style="width:70px;" />
	</div>


	<div class="radio_button_container width_10">
		<label class="radio_button control control--radio">

																																<input type="radio" value="linen" name="texture"/>
																																<div class="control__indicator"></div>

																															</label>
	</div>
	<div class="choice_description width_50 mobile_width_90 text_left">
		<h6 class=" sans font_ee">Laid</h6>

		<h3 class="sans slant average_line_spacing padding_top_small font_ff">Laid paper is a type of paper having a ribbed texture imparted by the manufacturing process</h3>
	</div>



	<div class="choice_price width_20  mobile_full_width sans font_ee padding_top_small padding_bottom_small centred text_left">
		+£0.24<br/>
		<span class="font_g sans">per invite</span>
	</div>
</div>




