<h4 class="font_e sans_caps bottom_solid padding_bottom_medium padding_top_large">Choose your embellishment</h4>

<div class="options_flex choice choice_embellishment bottom_dotted padding_top_large padding_bottom_large mobile_padding_left_and_right" id="embellishment_ribbon">

	<div class="choice_image width_20 mobile_full_width padding_bottom_small"><img src="/images/product/ribbon.png" style="width:80px;" /></div>

	<div class="radio_button_container width_10 mobile_width_10">
		<label class="radio_button control control--radio">
				<input type="radio" name="embellishment" value="ribbon" checked="checked"/>
				<div class="control__indicator"></div>
			</label>
	</div>

	<div class="choice_description width_50 mobile_width_90 text_left">
		<h6 class="sans font_ee text_left">Ribbon</h6>
		<h3 class="sans font_ff slant padding_top_small average_line_spacing">To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
	</div>

	<div class="choice_price deselected width_20 mobile_full_width sans font_ee padding_top_small padding_bottom_small centred">
		+£0.35
	</div>

</div>



<div class="options_flex choice choice_embellishment bottom_dotted  padding_top_large padding_bottom_large mobile_padding_left_and_right" id="embellishment_pearl">


	<div class="choice_image width_20 mobile_full_width padding_bottom_medium">
		<img src="/images/product/pearl.png" style="width:80px;" />
	</div>


	<div class="radio_button_container width_10 mobile_width_10">
		<label class="radio_button control control--radio">
				<input type="radio" value="pearl" name="embellishment" />
				<div class="control__indicator"></div>
			</label>
	</div>

	<div class="choice_description width_50 mobile_width_90">
		<h6 class="deselected sans font_ee text_left">Pearl buckle</h6>

		<h3 class="sans slant deselected font_ff padding_top_small average_line_spacing">To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
	</div>

	<div class="choice_price width_10 deselected mobile_full_width sans font_ee padding_top_small padding_bottom_small centred">
		+£1.11
	</div>
</div>

<div class="options_flex choice choice_embellishment bottom_dotted padding_top_large padding_bottom_large mobile_padding_left_and_right" id="embellishment_wrap">


	<div class="choice_image width_20 mobile_full_width  padding_bottom_medium">
		<img src="/images/product/wrap.png" style="width:80px;" />
	</div>


	<div class="radio_button_container width_10 mobile_width_10">
		<label class="radio_button control control--radio">
			<input type="radio" value="wrap" name="embellishment" />
			<div class="control__indicator"></div>
		</label>
	</div>

	<div class="choice_description width_50 mobile_width_90">
		<h6 class="deselected sans font_ee  text_left">Paper wrap</h6>

		<h3 class="sans slant deselected font_ff average_line_spacing padding_top_small">To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
	</div>

	<div class="choice_price width_10 deselected mobile_full_width sans font_ee padding_top_small padding_bottom_small centred">
		+£0.25
	</div>
</div>
