

				<!---------------------------------------------------------
				-------------------------------------------------------
				------------------------------------------------------- EXTRAS -->


				<h4 class="font_e bottom_solid padding_top_large padding_bottom_medium sans_caps">Choose your extras</h4>


				<div class="checkbox_choice clearfix no_border" id="rsvps">

					<div class="choice_image">
						<img src="/images/product/rsvp.svg" style="width:80px;" />
					</div>


					<div class="radio_button_container">
						<label class="control control--checkbox">

																																				<input type="checkbox" name="rsvps" value="rsvps"/>
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
					<h6 class="deselected sans font_ee">RSVP Cards</h6>

						<h3 class="sans slant font_ff  padding_top_small average_line_spacing">Make it easy for guests to reply to your invitation.</h3>
					</div>



															<div class="choice_price deselected">
															+£2.95
															</div>

				</div>








				<div class="checkbox_choice clearfix" id="info">

					<div class="choice_image">
						<img src="/images/product/info.svg" style="width:60px;" />
					</div>


					<div class="radio_button_container">
						<label class="control control--checkbox">

																																								<input type="checkbox" name="info" value="info" />
																																								<div class="control__indicator"></div>

																																							</label>
					</div>
					<div class="choice_description">
					<h6 class="deselected sans font_ee">Information cards</h6>

						<h3 class="sans slant font_ff padding_top_small average_line_spacing">Provide essential information for guests about your wedding.</h3>
					</div>

															<div class="choice_price deselected">
															+£2.95
															</div>
				</div>








				<div class="checkbox_choice clearfix " id="map">

					<div class="choice_image">
						<img src="/images/product/map.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="control control--checkbox">

																																								<input type="checkbox" name="map" value="map"/>
																																								<div class="control__indicator"></div>

																																							</label>
					</div>
					<div class="choice_description">
					<h6 class="deselected sans font_ee">Direction map</h6>

						<h3 class="sans slant font_ff padding_top_small average_line_spacing">Save time and hassle for you and your guests by having a custom drawn map and directions to your venue, avoiding the need to field calls on your big day from lost guests.</h3>
					</div>

															<div class="choice_price deselected">
															+£2.95
															</div>
				</div>