<img src="/images/logo/genesis_product.svg" id="genesis" style="padding-bottom:2em;" />

		<div class="top_solid full_width"></div>

		<img src="/images/furniture/flourish.svg" class="flourish" />

<img src="/images/homepage/icons/sample.svg" style="width:40px;padding:1em;padding-top:2em;padding-bottom:0.25em;" />

<h2 class="sans_subhead width_66 font_c average_line_spacing centred text_center">Get a free sample&hellip;</h2>

<p class="width_66 centred font_ee small_line_spacing sans">&hellip;of this stunning invitation suite, posted to you in 24 hours, just enter your email and address: you'll also get:</p>

<img src="/images/invitations/birds-of-paradise-diamante-spirals/sample.jpg" style="width:95%;padding-top:2em;max-width:235px;" />

<%- include('.././partials/form.ejs') %>


				<!-- TESTIMONIAL
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------

							-->

									<div class="testimonial_container">
										<img src="/images/homepage/chloe.jpg" class="testimonial_photo blocked_and_centred" />
										<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />

										<p class="testimonial_quote quote text_left slant large_line_spacing font_ee width_80 blocked_and_centred">It&rsquo;s all the little touches, the beauty of the printed envelopes, and the way the vellum is imprinted with your own design&hellip; it just feels and looks so luxurious and bespoke: my guests were all really impressed as my stationery really did
											stand out from the crowd. Plus they didn&rsquo;t break the bank like I thought they would!”</p>

											<p class="testimonial_name font_e padding_top_medium">&mdash;Chloé Campbell</p>
											<p class="testimonial_date font_ff sans_subhead">married January 2016</p>

									</div>


</div>
