

				<!---------------------------------------------------------
				-------------------------------------------------------
				------------------------------------------------------- TEXTURE -->


				<h4 class="font_e bottom_solid sans_caps padding_bottom_medium padding_top_large">Choose your card texture</h4>


				<div class="choice clearfix choice_texture no_border" id="texture_plain">

					<div class="choice_image">
						<img src="/images/product/paper_plain.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																				<input type="radio" name="texture" value="plain" checked="checked"/>
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
						<h6 class="sans font_ee">Smooth plain</h6>

						<h3 class="sans slant font_ff average_line_spacing padding_top_small">Smooth, bright, white card: no texture or gloss. It might be the cheapest option, but don't underestimate the beauty of simplicity. </h3>
					</div>


										<div class="choice_price deselected">

										</div>
				</div>




				<div class="choice clearfix choice_texture" id="texture_hammered">

					<div class="choice_image">
						<img src="/images/product/paper_hammered.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																				<input type="radio" value="hammered" name="texture" />
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
					<h6 class="deselected sans font_ee">Hammered</h6>

						<h3 class="sans slant average_line_spacing font_ff padding_top_small">This texture has indentations produced or appearing to have been produced by hammering, and is considered traditional by many.</h3>
					</div>


															<div class="choice_price deselected">
															+£0.15
															</div>
				</div>



				<div class="choice clearfix choice_texture" id="texture_linen">

					<div class="choice_image">
						<img src="/images/product/paper_linen.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																				<input type="radio" value="linen" name="texture"/>
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
					<h6 class="deselected sans font_ee">Linen</h6>

						<h3 class="sans slant average_line_spacing padding_top_small font_ff">Linen paper looks and feels like the fine linen fabric for which it is named. It has a subtle embossed texture with a crosshatch pattern that is reminiscent of a fine linen table cloth.</h3>
					</div>



															<div class="choice_price deselected">
															+£0.15
															</div>
				</div>





				<div class="choice clearfix choice_texture" id="texture_pearlescent">

					<div class="choice_image">
						<img src="/images/product/paper_pearlescent.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																				<input type="radio" value="pearlescent" name="texture"/>
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
					<h6 class="deselected sans font_ee">Pearlescent</h6>

						<h3 class="sans slant padding_top_small font_ff average_line_spacing">This card has a luxurious sheen on both sides that glistens in the light and gives the ink an almost metallic feel&mdash;greys look like silver, yellows can look gold.</h3>
					</div>



															<div class="choice_price deselected">
															+£0.35
															</div>

				</div>





