<h4 class="font_e bottom_solid sans_caps padding_top_large padding_bottom_medium">
	<img src="/images/7.svg" class="centred w20px" style="margin-top:-2px" /> <br/>Choose your quantity</h4>

<% [20,25,30,35,40,45,50,55,60,65,70,75, 80,90,100,110,120,130,140,150,160,170].forEach(function(qty) { %>

	<div style="max-width:600px;" class="width_95 mobile_full_width padding_bottom_large padding_top_large options_flex choice choice_quantity hover_grey bottom_dotted centred" id="quantity_<%= qty %>">
		<div>
		<img src="/images/right-chevron.svg" class="w20px opacity4" style="padding-left:20px" />
		</div>

		<div class="choice_description">
			<h6 class="deselected sans font_e">
				<%= qty %>
			</h6>
		</div>

			<div  id="grand_total_<%= qty%>" style="padding-right:20px;" class="grand_total deselected sans font_e">£132.32	</div>
	
	</div>
<% }) %>