

<!---------------------------------------------------------
-------------------------------------------------------
------------------------------------------------------- GUEST ADDRESSING -->



				<h4 class="font_e bottom_solid sans_caps padding_top_large padding_bottom_medium">Guest personalisation</h4>

				<div class="checkbox_choice clearfix choice_addressing no_border" id="addressing">

					<div class="choice_image">
						<img src="/images/product/envelope_yes.svg" style="width:80px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--checkbox">

																																				<input type="checkbox" value="addressing" name="addressing" />
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
					<h6 class="deselected sans font_ee">Individual addresses printed</h6>

						<h3 class="sans slant padding_top_small font_ff average_line_spacing">Send us a list of your guest names and addresses and we will individually print each one on the envelope.</h3>
					</div>


															<div class="choice_price deselected">
															+£2.95
															</div>
				</div>





				<div class="checkbox_choice clearfix" id="guests">

					<div class="choice_image">
						<img src="/images/product/guest_yes.svg" style="width:60px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--checkbox">

																																																								<input type="checkbox" value="guests" name="guests" />
																																																								<div class="control__indicator"></div>

																																																							</label>
					</div>
					<div class="choice_description">
					<h6 class="deselected sans font_ee">Guest names printed</h6>

						<h3 class="sans slant font_ff padding_top_small average_line_spacing">Your guest names will be printed on each invitation and any accompanying RSVP cards, just send us a list.</h3>
					</div>


															<div class="choice_price deselected">
															+£2.95
															</div>

				</div>












